<ul class="dwp-side-navigation__list">

  {# Section: Section #}
  <li class="dwp-side-navigation__section">
    Section in journey
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'before-starting-the-journey' }}">
    <a href="/page-index/enrichment/before-starting-the-journey" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'before-starting-the-journey' }}" {% if active=='before-starting-the-journey' %}aria-current="true" {% endif %}>
      Before starting the journey
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'death-registration-details' }}">
    <a href="/page-index/enrichment/death-registration-details" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'death-registration-details' }}" {% if active=='death-registration-details' %}aria-current="true" {% endif %}>
      Death registration details
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'about-you' }}">
    <a href="/page-index/enrichment/about-you" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'about-you' }}" {% if active=='about-you' %}aria-current="true" {% endif %}>
      About you
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'about-the-person-who-died' }}">
    <a href="/page-index/enrichment/about-the-person-who-died" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'about-the-person-who-died' }}" {% if active=='about-the-person-who-died' %}aria-current="true" {% endif %}>
      About the person who died
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'notify-organisations-about-the-death' }}">
    <a href="/page-index/enrichment/notify-organisations-about-the-death" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'notify-organisations-about-the-death' }}" {% if active=='notify-organisations-about-the-death' %}aria-current="true" {% endif %}>
      Notify organisations about the death
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'about-other-people' }}">
    <a href="/page-index/enrichment/about-other-people" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'about-other-people' }}" {% if active=='about-other-people' %}aria-current="true" {% endif %}>
      About other people
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'email-confirmation' }}">
    <a href="/page-index/enrichment/email-confirmation" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'email-confirmation' }}" {% if active=='email-confirmation' %}aria-current="true" {% endif %}>
      Email confirmation
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'before-we-send-the-information' }}">
    <a href="/page-index/enrichment/before-we-send-the-information" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'before-we-send-the-information' }}" {% if active=='before-we-send-the-information' %}aria-current="true" {% endif %}>
      Before we send the information
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'confirmation' }}">
    <a href="/page-index/enrichment/confirmation" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'confirmation' }}" {% if active=='before-we-send-the-information' %}aria-current="true" {% endif %}>
      Confirmation
    </a>
  </li>

  <!-- <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'before-we-send' }}">
    <a href="/page-index/before-we-send-the-information"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'before-we-send' }}"
       {% if active == 'before-we-send' %}aria-current="true"{% endif %}>
      Before we send the information
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'before-you-start' }}">
    <a href="/page-index/before-you-start"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'before-you-start' }}"
       {% if active == 'before-you-start' %}aria-current="true"{% endif %}>
      Before you start
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'check-your-answers' }}">
    <a href="/page-index/check-your-answers"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'check-your-answers' }}"
       {% if active == 'check-your-answers' %}aria-current="true"{% endif %}>
      Check your answers
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'enter-death-registration-details' }}">
    <a href="/page-index/enter-death-registration-details"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'enter-death-registration-details' }}"
       {% if active == 'enter-death-registration-details' %}aria-current="true"{% endif %}>
      Enter death registration details
    </a>
  </li>

   <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'find-address' }}">
    <a href="/page-index/find-an-address"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'find-address' }}"
       {% if active == 'find-address' %}aria-current="true"{% endif %}>
      Find an address
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'pensions' }}">
    <a href="/page-index/notify-a-public-sector-pension-provider"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'pensions' }}"
       {% if active == 'pensions' %}aria-current="true"{% endif %}>
      Notify a public sector pension provider
    </a>
  </li>

    <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'ni-number' }}">
    <a href="/page-index/their-national-insurance-number"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'ni-number' }}"
       {% if active == 'ni-number' %}aria-current="true"{% endif %}>
      Their National Insurance number
    </a>
  </li> -->

  <!-- {# Section: Enrichment (agent) #}
  <li class="dwp-side-navigation__section">
    Enrichment (agent facing)
  </li>

    <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'updade-banner' }}">
    <a href="/page-index/updade-banner"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'updade-banner' }}"
       {% if active == 'updade-banner' %}aria-current="true"{% endif %}>
      Service update banner
    </a>
  </li> -->

  <!-- 
  {# Section: Capture #}
  <li class="dwp-side-navigation__section">
    Capture
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'notification-banner' }}">
    <a href="/page-index/notification-banner"
       class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'notification-banner' }}"
       {% if active == 'notification-banner' %}aria-current="true"{% endif %}>
      Notification banner
    </a>
  </li> -->


  {# Section: Global #}
  <li class="dwp-side-navigation__section">
    Global
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'service-timeout' }}">
    <a href="/page-index/enrichment/service-timeout" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'service-timeout' }}" {% if active=='service-timeout' %}aria-current="true" {% endif %}>
      Service timeout
    </a>
  </li>

  <li class="dwp-side-navigation__item {{ 'dwp-side-navigation__item--selected' if active == 'cookie-banner' }}">
    <a href="/page-index/enrichment/cookie-banner" class="dwp-side-navigation__link {{ 'dwp-side-navigation__link--selected' if active == 'cookie-banner' }}" {% if active=='cookie-banner' %}aria-current="true" {% endif %}>
      Cookie banner
    </a>
  </li>
</ul>