{% extends "layouts/main.html" %}

{% block pageTitle %}
Before we send the information
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Before we send the information</h1>

    <p class="govuk-body">
      You've given Tell Us Once permission to notify the government departments
      you have selected about the death. The departments will update their
      records. They will not need to see the death certificate.
    </p>

    <p class="govuk-body">
      Tell Us Once will share the information you have provided about yourself,
      the next of kin and person dealing with the estate.
    </p>

    <p class="govuk-body">
      If any of the departments need more information, they will contact the
      next of kin or the person dealing with the estate.
    </p>

    <p class="govuk-body">
      All the information you have provided will be protected and shared
      securely. The departments will only be given information that will be used
      by them and will treat your information securely and confidentially .Find
      out more by reading the departments' privacy policies.
    </p>

    <p class="govuk-body">You told us you want to notify:</p>

    <!---------List-------->

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Department for Work and Pensions (DWP) - Benefits and Entitlements
      </li>
      <li>HM Revenue and Customs (HMRC) - Personal Tax</li>
      <li>HM Revenue and Customs (HMRC) - Benefits and Credits</li>
      <li>London Borough of Lewisham Council - Council Tax</li>
      <li>London Borough of Lewisham Council - Library Services</li>
      <li>London Borough of Lewisham Council - Blue Badge</li>
      <li>HM Passport Office (HMPO) - Passport</li>
      <li>Driver and Vehicle Licensing Agency (DVLA) - Driving Licence</li>
      <li>My Civil Service Pension</li>
    </ul>

    <!---------Checkbox-------->

    <div class="govuk-form-group govuk-!-padding-top-2">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="agree"
              name="agree"
              type="checkbox"
              value="agree"
              data-aria-controls="agree"
            />
            <label class="govuk-label govuk-checkboxes__label" for="agree">
              I agree that the information I have provided may be shared with
              the government and council organisations listed above
            </label>
          </div>
        </div>
      </fieldset>
    </div>
      
    <h2 class="govuk-heading-l">Communication preferences</h2>
    <h3 class="govuk-heading-m">If you live in Wales</h3>
      <p class="govuk-body">When you finish Tell Us Once, we'll send you a confirmation letter. You can choose to have your Tell Us Once confirmation letter in Welsh.</p>
        <p class="govuk-body">
          If any of the organisations or departments you've chosen to notify need to contact you, you can ask them to contact you in Welsh. If they're able to, they will.
        </p>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I live in Wales, and want further communication in Welsh
          <!-- <div class="govuk-hint">This will include your Tell Us Once confirmation letter</div> -->
        </label>
      </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Large print</h3>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I want my Tell Us Once confirmation letter in large print
        </label>
      </div>
    </div>

    <!-- <label class="govuk-label">Do you live in Wales?</label>  
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
      </div>
    </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <p class="govuk-body">
          Do you want to have your confirmation letter in Welsh?
        </p>
        <div
          class="govuk-radios govuk-radios--inline"
          data-module="govuk-radios"
        >
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="changedName"
              name="changedName"
              type="radio"
              value="yes"
            />
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="changedName-2"
              name="changedName"
              type="radio"
              value="no"
            />
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
      </div>     -->
  </fieldset>
</div>

    <!---------Large print-------->

    <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <p class="govuk-body">Do you require large print?</p>
        <div
          class="govuk-radios govuk-radios--inline"
          data-module="govuk-radios"
        >
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="changedName"
              name="changedName"
              type="radio"
              value="yes"
            />
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="changedName-2"
              name="changedName"
              type="radio"
              value="no"
            />
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div> -->
    </div>

    <!---------Button-------->
<div class="govuk-button-group govuk-!-margin-top-6">
    <a
      href="confirmation"
      role="button"
      draggable="false"
      class="govuk-button govuk-button"
      data-module="govuk-button"
    >
      Confirm and send
    </a>
    </div>
    <details class="govuk-details govuk-!-margin-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> Contact us for help </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">
          Relay UK: 18001 0800 085 7308<br /><a href="#"
            >Video Relay Service for British Sign Language (BSL) (opens in new
            tab)</a
          >
        </p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body">
          Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a>
        </p>
      </div>
    </details>
  </div>
</div>
{% endblock %}
