{% extends "layouts/main.html" %}

{% block pageTitle %}
  Look up their address
{% endblock %}

{% block scripts %}
  <script src="/public/javascripts/address-lookup.js"></script>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v0_1/pensions/ni-number" method="post">

      <!-- aria-live outside any hidden container -->
      <div id="address-status" class="govuk-visually-hidden" aria-live="polite"></div>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-heading-l">Look up their address</h1>
        </legend>

        <!-- Postcode lookup -->
        <div id="postcode-lookup">

          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">Postcode</label>
            <div id="postcode-hint" class="govuk-hint">For example, AA3 1AB.</div>
            <input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="searchString">Building number or name</label>
            <div id="searchString-hint" class="govuk-hint">For example, 15 or Prospect Cottage.</div>
            <input class="govuk-input govuk-!-width-two-thirds" id="searchString" name="searchString" type="text">
          </div>

          <button type="button" id="find-address" class="govuk-button govuk-button--secondary">
            Find address
          </button>

          <!-- Address results -->
          <div id="address-results" class="govuk-form-group govuk-!-margin-top-2" hidden></div>

          <p class="govuk-body govuk-!-margin-bottom-0">
            <a href="#" id="enter-address-manually" class="govuk-link">
              Manually enter address
            </a>
          </p>
        </div>

        <!-- Manually enter address -->
        <div id="manual-address" class="govuk-form-group" hidden>

          <fieldset class="govuk-fieldset">

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">Address line 1</label>
              <input class="govuk-input" id="address-line-1" name="addressLine1" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-2">Address line 2 (optional)</label>
              <input class="govuk-input" id="address-line-2" name="addressLine2" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">Town or city</label>
              <input class="govuk-input" id="address-town" name="addressTown" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">County (optional)</label>
              <input class="govuk-input" id="address-county" name="addressCounty" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode-manual">Postcode</label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode-manual" name="addressPostcodeManual" type="text">
            </div>

          </fieldset>

          <p class="govuk-body">
            <a href="#" id="return-to-lookup" class="govuk-link govuk-!-display-block govuk-!-margin-top-6">
              Look up address using a postcode
            </a>
          </p>

        </div>

      </fieldset>

    </form>

  </div>
</div>

{% endblock %}