{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="informer-details-check-answers" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Enter an address outside of the UK
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-line-1">
            Address line 1
          </label>
          <input class="govuk-input"
                 id="informer-address-line-1"
                 name="informer-address-line-1"
                 type="text"
                 autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input"
                 id="informer-address-line-2"
                 name="informer-address-line-2"
                 type="text"
                 autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-line-3">
            Address line 3
          </label>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="informer-address-line-3"
                 name="informer-address-line-3"
                 type="text"
                 autocomplete="address-level2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-line-4">
            Addrress line 4 (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="informer-address-line-4"
                 name="informer-address-line-4"
                 type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-country">
            Country
          </label>
          <input class="govuk-input govuk-input--width-10"
                 id="informer-address-country"
                 name="informer-address-country"
                 type="text"
                 autocomplete="country">
        </div>

      </fieldset>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="informer-address" class="govuk-link">Find address by postcode</a>
      </p>

    </form>

  </div>
</div>
{% endblock %}