{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your address?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="select-informer-address" method="post">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is your address?
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-postcode">
            Postcode
          </label>
          <div id="informer-postcode-hint" class="govuk-hint">
            For example, AA3 1AB.
          </div>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="informer-postcode"
                 name="informer-postcode"
                 type="text"
                 aria-describedby="informer-postcode-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-address-house-number">
            Building number or name
          </label>
          <div id="informer-address-house-number-hint" class="govuk-hint">
            For example, 15 or Prospect Cottage.
          </div>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="sinformer-address-house-number"
                 name="informer-address-house-number"
                 type="text"
                 aria-describedby="informer-address-house-number-hint">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Find address
        </button>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="informer-address-manually-enter" class="govuk-link">Enter address manually</a>
        </p>
      </fieldset>
    </form>

  </div>
</div>
{% endblock %}