{% extends "layouts/main.html" %}
{% set pageName="About the partner of the person who died" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">You’ve told us that the person who died was married or in a civil partnership.</p>

    <p class="govuk-body">Entering their partner’s details will help the organisations and services you choose to notify to match the records of the person who died.</p>

    <!---------Questions-------->

    <form class="form" action="about-the-person-dealing-with-the-estate" method="post" novalidate>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="permisson-to-share-spouse-details-hint">
        <label class="govuk-label govuk-label--m">Do you have permission to share their details?</label>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="permisson-to-share-spouse-details" name="permisson-to-share-spouse-details" type="radio" value="yes" data-aria-controls="conditional-permisson-to-share-spouse-details">
            <label class="govuk-label govuk-radios__label" for="permisson-to-share-spouse-details">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-permisson-to-share-spouse-details">

            <!---------Share details routing-------->

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">
                  Their details
                </h2>
              </legend>
              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  Title (optional)
                </label>
                <div class="govuk-hint">Please select an option from the list. If the required option is not available please select 'Other' and enter manually</div>
                <select class="govuk-select" id="spouse-title" name="spouse-title">
                  <option value="" selected>Please select</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                  <option value="Rev">Rev</option>
                  <option value="Dr">Dr</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="spouse-first-name">
                  First name
                </label>
                <input class="govuk-input govuk-input--width-20" id="spouse-first-name" name="spouse-first-name" type="text" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="spouse-last-name">
                  Surname
                </label>
                <input class="govuk-input govuk-input--width-20" id="spouse-last-name" name="spouse-last-name" type="text">
              </div>

              <div class="govuk-form-group">
  <label class="govuk-label" for="spouse-relationship">
    What is their relationship to the person who’s died?
  </label>
  <select class="govuk-select" id="spouse-relationship" name="spouse-relationship">
    <option value="" selected>Please select</option>
    <option value="husband">Husband</option>
    <option value="wife">Wife</option>
    <option value="spouse">Spouse</option>
    <option value="civil partner">Civil partner</option>
  </select>
</div>
            </fieldset>

            <!---------Inset text-------->

            <div class="govuk-inset-text">
              You must provide either their National Insurance number or their date of birth
            </div>

            <!---------DoB-------->

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="spouse-dob-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date of birth
                </legend>
                <div id="spouse-dob-hint" class="govuk-hint">
                  For example, 19 4 1985.
                </div>
                <div class="govuk-date-input" id="spouse-dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="spouse-dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spouse-dob-day" name="spouse-dob-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="spouse-dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spouse-dob-month" name=spouse-dob-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="spouse-dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="spouse-dob-year" name="spouse-dob-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <!---------NINO-------->

            <div class="govuk-form-group">
              <label class="govuk-body" for="spouse-ni-number">
                National Insurance number
              </label>
              <div id="spouse-ni-number-hint" class="govuk-hint">
                It’s on a National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
              </div>
              <input class="govuk-input govuk-input--width-10" id="spouse-ni-number" name="spouse-ni-number" type="spouse-ni-number" spellcheck="false" aria-describedby="spouse-ni-number-hint" autocomplete="none">
            </div>

            <!---------Their home address-------->
                
                  <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="spouse-same-address-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">Is their address the same as the person who's died?</h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact" name="spouse-same-address" type="radio" value="yes" data-aria-controls="conditional-spouse-same-address">
                        <label class="govuk-label govuk-radios__label" for="spouse-same-address">
                          Yes
                        </label>
                      </div>
                      <!-- Is the person's address the same as the person who's died? - conditinal reveal - yes -->
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-spouse-same-address">
                        <h2 class="govuk-heading-s">Address of the person who died</h2>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">House or Flat Number</dt>
                            <dd class="govuk-summary-list__value">13</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Road</dt>
                            <dd class="govuk-summary-list__value">HOLLY ROAD</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Town/City</dt>
                            <dd class="govuk-summary-list__value">HEREFORD</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">County</dt>
                            <dd class="govuk-summary-list__value">HEREFORDSHIRE</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Postcode</dt>
                            <dd class="govuk-summary-list__value">HR1 1GL</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Country</dt>
                            <dd class="govuk-summary-list__value">United Kingdom</dd>
                          </div>

                        </dl>
                      </div>
                      <!-- End conditional reveal -->

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="spouse-same-address-2" name="spouse-same-address" type="radio" value="no" data-aria-controls="conditional-spouse-same-address-2">
                        <label class="govuk-label govuk-radios__label" for="spouse-same-address-2">
                          No
                        </label>
                      </div>

                      <!-- Is the person's address the same as the person who's died? - conditinal reveal - no -->
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-spouse-same-address-2">
                        <!-- Person detaling with estate address -->
                        <h2 class="govuk-heading-m">Their contact details</h2>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-same-address-house-number"> House
                            number or name </label>
                          <input class="govuk-input govuk-!-width-one-quarter" id="spouse-address-house-number" name="spouse-address-house-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-address-postcode"> Postcode
                          </label>
                          <div class="govuk-hint">For example, AA3 1AB</div>
                          <input class="govuk-input govuk-!-width-one-quarter" id="spouse-address-postcode" name="spouse-address-postcode" type="text">
                          <div class="postcode-inline">
                            <button type="button" id="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
                              Find address </button>
                            <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                              <input class="govuk-checkboxes__input" id="manual-address" name="manual-address" type="checkbox">
                              <label class="govuk-label govuk-checkboxes__label" for="manual-address"> Enter address manually </label>
                            </div>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-address-road"> Road </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="spouse-address-road" name="spouse-address-road" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-address-town"> Town/City
                          </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="spouse-address-town" name="spouse-address-town" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-address-county"> Country
                            (optional) </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="spouse-address-county" name="spouse-address-county" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="spouse-address-country"> Country
                          </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="spouse-address-country" name="spouse-address-country" type="text">
                        </div>
                      </div>
                      <!-- End conditional reveal -->
                    </div>
                  </fieldset>
                </div>

            




            <!---------Email-------->

            <div class="govuk-form-group">
              <label class="govuk-label" for="spouse-email">
                Contact email address (optional)
              </label>
              <input class="govuk-input govuk-input--width-20" id="spouse-email" name="spouse-email" type="text">
            </div>

            <!---------Radios-------->

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="spouse-deal-with-estate-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Will they be dealing with the estate of the person who died?
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="spouse-deal-with-estate" name="spouse-deal-with-estate" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="spouse-deal-with-estate">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="spouse-deal-with-estate-2" name="spouse-deal-with-estate" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="spouse-deal-with-estate-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="permisson-to-share-spouse-details-2" name="permisson-to-share-spouse-details" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="permisson-to-share-spouse-details-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <!---------Button-------->

     <form class="form" action="/{{data.version}}/about-the-person-dealing-with-the-estate" method="post">
        <button class="govuk-button">Continue</button>
      </form>
    <!-- Contact us -->
{% include "includes/contact.njk" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('manual-address');
    const addressFields = ['spouse-address-road', 'spouse-address-town',
      'spouse-address-county', 'spouse-address-country'
    ];
    checkbox.addEventListener('change', function () {
      addressFields.forEach(id => {
        const field = document.getElementById(id);
        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const findButton = document.getElementById('find-address');
    findButton.addEventListener('click', function () {
      document.getElementById('spouse-address-road').value =
        '12 Broad Street';
      document.getElementById('spouse-address-town').value =
        'Hereford';
      document.getElementById('spouse-address-county').value =
        'Herefordshire';
      document.getElementById('spouse-address-country').value =
        'United Kingdom';
    });
  });

</script>

{% endblock %}