{% extends "layouts/main.html" %}
{% set pageName="About the person who died" %} {% set backLink = true %}
{% block content %}

<form class="form" action="/{{data.version}}/their-national-insurance-number" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <!---------Their details-------->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-title"> Title </label>
          <div id="name-hint" class="govuk-hint"> Please select an option from
            the list. If the required option is not available please select
            'Other' and enter manually </div>
          <select class="govuk-select" id="deceased-title" name="deceased-title">
            <option value="" selected>Please select</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
            <option value="Rev">Rev</option>
            <option value="Dr">Dr</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </fieldset>
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-marital-status"> Marital
            status </label>
          <select class="govuk-select" id="deceased-marital-status" name="deceased-marital-status">
            <option value="" selected>Please select</option>
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Civil Partnership">Civil Partnership</option>
            <option value="Civil Partnership Dissolved">Civil Partnership
              Dissolved</option>
            <option value="Divorced">Divorced</option>
            <option value="Seperated">Separated</option>
            <option value="Widowed">Widowed</option>
            <option value="Surviving Civil Partner">Surviving Civil Partner
            </option>
          </select>
        </div>
      </fieldset>
      <!---------Radios Q1-------->
      <div class="govuk-form-group govuk-!-padding-top-3">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <label class="govuk-body"> Do they have another address? </label>
          <div id="name-hint" class="govuk-hint"> For example, if they have a
            home address that is different from the one given when the death was
            registered. </div>
          <div id="name-hint" class="govuk-hint"> This will help us understand
            which local council we should notify about the death. They may have
            been paying Council Tax or receiving council services at another
            address. </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input {% if (data['deceased-has-other-address']=="yes" ) %}checked{% endif %} class="govuk-radios__input" id="deceased-has-other-address" name="deceased-has-other-address" type="radio" value="yes" data-aria-controls="conditional-deceased-has-other-address">
              <label class="govuk-label govuk-radios__label" for="deceased-has-other-address"> Yes </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="deceased-has-other-address-2" name="deceased-has-other-address" type="radio" value="no" data-aria-controls="conditional-deceased-has-other-address-2">
              <label class="govuk-label govuk-radios__label" for="deceased-has-other-address-2"> No </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceased-has-other-address-2">
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-radios__conditional {% if (data['deceased-has-other-address'] != 'yes') %}govuk-radios__conditional--hidden{% endif %} reveal--no-border" id="conditional-deceased-has-other-address">
        <!---------Have another address – Yes routing-------->
        <h2 class="govuk-heading-m">Their other address</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-house-number"> House
            number or name </label>
          <input class="govuk-input govuk-!-width-one-quarter" id="deceased-other-address-house-number" name="deceased-other-address-house-number" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-postcode"> Postcode
          </label>
          <div class="govuk-hint">For example, AA3 1AB</div>
          <input class="govuk-input govuk-!-width-one-quarter" id="deceased-other-address-postcode" name="deceased-other-address-postcode" type="text">
          <div class="postcode-inline">
            <button type="button" id="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
              Find address </button>
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
              <input class="govuk-checkboxes__input" id="manual-address" name="manual-address" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="manual-address"> Enter address manually </label>
            </div>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-road"> Road </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="deceased-other-address-road" name="deceased-other-address-road" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-town"> Town/City
          </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="deceased-other-address-town" name="deceased-other-address-town" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-county"> Country
            (optional) </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="deceased-other-address-county" name="deceased-other-address-county" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="deceased-other-address-country"> Country
          </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="deceased-other-address-country" name="deceased-other-address-country" type="text">
        </div>
      </div>


      <!---------Radios Q2-------->
      <div class="govuk-form-group govuk-!-padding-top-6">
        <fieldset class="govuk-fieldset">
          <label class="govuk-body"> Did they die in a hospital, hospice,
            nursing home or care home? </label>
          <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input {% if (data['place-of-death-address']=="yes" ) %}checked{% endif %} class="govuk-radios__input" id="place-of-death-address" name="place-of-death-address" type="radio" value="yes" data-aria-controls="conditional-place-of-death-address">
              <label class="govuk-label govuk-radios__label" for="place-of-death-address"> Yes </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="place-of-death-address-2" name="place-of-death-address" type="radio" value="no" data-aria-controls="conditional-place-of-death-address-2">
              <label class="govuk-label govuk-radios__label" for="place-of-death-address-2"> No </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-place-of-death-address-2">
            </div>
          </div>
      </div>


      <div class="govuk-radios__conditional {% if (data['place-of-death-address'] != 'yes') %}govuk-radios__conditional--hidden{% endif %} reveal--no-border govuk-!-margin-bottom-8" id="conditional-place-of-death-address">
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-name"> Name of
            hospital, hospice, nursing home or care home </label>
          <input class="govuk-input govuk-input--width-20" id="place-of-death-name" name="place-of-death-name" type="text">
        </div>
        <h2 class="govuk-heading-m">Address of hospital, hospice, nursing
          home or care home</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-postcode">
            Postcode </label>
          <div class="govuk-hint">For example, AA3 1AB</div>
          <input class="govuk-input govuk-!-width-one-quarter" id="place-of-death-postcode" name="place-of-death-postcode" type="text">
          <div class="postcode-inline">
            <button type="button" id="find-address2" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
              Find address </button>
            <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
              <input class="govuk-checkboxes__input" id="manual-address2" name="manual-address2" type="checkbox">
              <label class="govuk-label govuk-checkboxes__label" for="manual-address2"> Enter address manually </label>
            </div>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-road"> Road
          </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="place-of-death-road" name="place-of-death-road" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-town"> Town/City
          </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="place-of-death-town" name="place-of-death-town" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-county"> Country
            (optional) </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="place-of-death-county" name="place-of-death-county" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="place-of-death-country"> Country
          </label>
          <input class="govuk-input govuk-input--width-20 disabled" id="place-of-death-country" name="place-of-death-country" type="text">
        </div>
      </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!---------button-------->
      <button class="govuk-button"> Continue </button>
    </div>
  </div>
</form>
<!-- Contact us -->
{% include "includes/contact.njk" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('manual-address');
    const addressFields = ['deceased-other-address-road', 'deceased-other-address-town',
      'deceased-other-address-county', 'deceased-other-address-country'
    ];
    checkbox.addEventListener('change', function () {
      addressFields.forEach(id => {
        const field = document.getElementById(id);
        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const findButton = document.getElementById('find-address');
    findButton.addEventListener('click', function () {
      document.getElementById('deceased-other-address-road').value =
        'Orchard Close';
      document.getElementById('deceased-other-address-town').value =
        'Hereford';
      document.getElementById('deceased-other-address-county').value =
        'Herefordshire';
      document.getElementById('deceased-other-address-country').value =
        'United Kingdom';
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('manual-address2');
    const addressFields = ['place-of-death-road', 'place-of-death-town',
      'place-of-death-county', 'place-of-death-country'
    ];
    checkbox.addEventListener('change', function () {
      addressFields.forEach(id => {
        const field = document.getElementById(id);
        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const findButton = document.getElementById('find-address2');
    findButton.addEventListener('click', function () {
      document.getElementById('place-of-death-road').value =
        'Chestnut Drive';
      document.getElementById('place-of-death-town').value =
        'Leominster';
      document.getElementById('place-of-death-county').value =
        'Herefordshire';
      document.getElementById('place-of-death-country').value =
        'United Kingdom';
    });
  });
</script>

{% endblock %}