{% extends "layouts/main.html" %}
{% set pageName="About the person or company dealing with the estate" %}
{% set backLink = true %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">
      This is the person or company with the legal right to deal with a person's property, money and posssessions (their estate) after they've died (also known as the executor or administrator of the will). If there is more than one executor, provide details of the person or company who would like to be contacted. Organisations you choose to notify will contact the approproate person if they need to.
    </p>

    <form class="form" action="check-your-answers-4" method="post" novalidate>
    <!-- Is there a person or company dealing with the estate? -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-body">
          Is there a person or company dealing with the estate?
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="is-there-an-executor" name="is-there-an-executor" type="radio" value="yes" data-aria-controls="conditional-executor">
            <label class="govuk-label govuk-radios__label" for="is-there-an-executor">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="is-there-an-executor-2" name="is-there-an-executor" type="radio" value="phone">
            <label class="govuk-label govuk-radios__label" for="is-there-an-executor-2">
              No
            </label>
          </div>
        </div>

        <!-- Is there a person or company dealing with the estate? - conditinal reveal - yes -->
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border govuk-!-margin-top-4" id="conditional-executor">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-body">
                Is it a person or company dealing with the estate?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="is-company-dealing-with-estate" name="is-company-dealing-with-estate" type="radio" value="company" data-aria-controls="conditional-is-company-dealing-with-estate">
                  <label class="govuk-label govuk-radios__label" for="is-company-dealing-with-estate">
                    Company
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="is-company-dealing-with-estate-2" name="is-company-dealing-with-estate" type="radio" value="person" data-aria-controls="conditional-is-company-dealing-with-estate-2">
                  <label class="govuk-label govuk-radios__label" for="is-company-dealing-with-estate-2">
                    Person
                  </label>
                </div>
              </div>

              <!-- Is it a person or company dealing with the estate? - conditinal reveal - company -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border govuk-!-margin-top-4" id="conditional-is-company-dealing-with-estate">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-name">
                    Company name
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="executor-name" name="executor-name" type="text">
                </div>
                <!-- Company address -->
                <h2 class="govuk-heading-m">Their address</h2>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-house-number"> House
                    number or name </label>
                  <input class="govuk-input govuk-!-width-one-quarter" id="executor-address-house-number" name="executor-address-house-number" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-postcode"> Postcode
                  </label>
                  <div class="govuk-hint">For example, AA3 1AB</div>
                  <input class="govuk-input govuk-!-width-one-quarter" id="executor-address-postcode" name="executor-address-postcode" type="text">
                  <div class="postcode-inline">
                    <button type="button" id="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
                      Find address </button>
                    <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                      <input class="govuk-checkboxes__input" id="manual-address" name="manual-address" type="checkbox">
                      <label class="govuk-label govuk-checkboxes__label" for="manual-address"> Enter address manually </label>
                    </div>
                  </div>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-road"> Road </label>
                  <input class="govuk-input govuk-input--width-20 disabled" id="executor-address-road" name="executor-address-road" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-town"> Town/City
                  </label>
                  <input class="govuk-input govuk-input--width-20 disabled" id="executor-address-town" name="executor-address-town" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-county"> Country
                    (optional) </label>
                  <input class="govuk-input govuk-input--width-20 disabled" id="executor-address-county" name="executor-address-county" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-address-country"> Country
                  </label>
                  <input class="govuk-input govuk-input--width-20 disabled" id="executor-address-country" name="executor-address-country" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-contact-number">
                    Contact telephone number (optional)
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="executor-contact-number" name="executor-contact-number" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="executor-email">
                    Contact email address (optional)
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="executor-email" name="executor-email" type="text">
                </div>
              </div>
              <!-- End conditional reveal -->

              <!-- Is it a person or company dealing with the estate? - conditinal reveal - person -->
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border govuk-!-margin-top-4" id="conditional-is-company-dealing-with-estate-2">
                <h2 class="govuk-heading-m">Personal details</h2>
                <p class="govuk-body">Please enter the details of the person dealing with their estate</p>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="sort">
                    Title (optional)
                  </label>
                  <div class="govuk-hint">Please select an option from the list. If the required option is not available please select 'Other' and enter manually</div>
                  <select class="govuk-select" id="person-or-company-dealing-with-estate-title" name="person-or-company-dealing-with-estate-title">
                    <option value="" selected>Please select</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                    <option value="Rev">Rev</option>
                    <option value="Dr">Dr</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="person-or-company-dealing-with-estate-first-name">
                    First name
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="person-or-company-dealing-with-estate-first-name" name="person-or-company-dealing-with-estate-first-name" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="person-or-company-dealing-with-estate-last-name">
                    Surname
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="person-or-company-dealing-with-estate-last-name" name="person-or-company-dealing-with-estate-last-name" type="text">
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="person-or-company-dealing-with-estate-same-address-hint">
                    <legend class="govuk-fieldset__legend govuk-body">
                      <h1 class="govuk-fieldset__heading">Is the person's address the same as the person who died?</h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="contact" name="person-or-company-dealing-with-estate-same-address" type="radio" value="yes" data-aria-controls="conditional-person-or-company-dealing-with-estate-same-address" checked>
                        <label class="govuk-label govuk-radios__label" for="person-or-company-dealing-with-estate-same-address">
                          Yes
                        </label>
                      </div>
                      

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="person-or-company-dealing-with-estate-same-address-2" name="person-or-company-dealing-with-estate-same-address" type="radio" value="no" data-aria-controls="conditional-person-or-company-dealing-with-estate-same-address-2">
                        <label class="govuk-label govuk-radios__label" for="person-or-company-dealing-with-estate-same-address-2">
                          No
                        </label>
                      </div>

                    <!-- Is the person's address the same as the person who's died? - conditinal reveal - yes -->
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-person-or-company-dealing-with-estate-same-address">
                        <h2 class="govuk-heading-s">Address of the person who died</h2>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">House or Flat Number</dt>
                            <dd class="govuk-summary-list__value">13</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Road</dt>
                            <dd class="govuk-summary-list__value">HOLLY ROAD</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Town/City</dt>
                            <dd class="govuk-summary-list__value">HEREFORD</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">County</dt>
                            <dd class="govuk-summary-list__value">HEREFORDSHIRE</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Postcode</dt>
                            <dd class="govuk-summary-list__value">HR1 1GL</dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Country</dt>
                            <dd class="govuk-summary-list__value">United Kingdom</dd>
                          </div>

                        </dl>
                      </div>
                      <!-- End conditional reveal -->

                       <!-- Is the person's address the same as the person who's died? - conditinal reveal - no -->
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-person-or-company-dealing-with-estate-same-address-2">
                        <!-- Person detaling with estate address -->
                        <h2 class="govuk-heading-m">Their contact details</h2>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-house-number"> House
                            number or name </label>
                          <input class="govuk-input govuk-!-width-one-quarter" id="person-or-company-dealing-with-estate-address-house-number" name="person-or-company-dealing-with-estate-address-house-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-postcode"> Postcode
                          </label>
                          <div class="govuk-hint">For example, AA3 1AB</div>
                          <input class="govuk-input govuk-!-width-one-quarter" id="person-or-company-dealing-with-estate-address-postcode" name="person-or-company-dealing-with-estate-address-postcode" type="text">
                          <div class="postcode-inline">
                            <button type="button" id="find-address2" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
                              Find address </button>
                            <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                              <input class="govuk-checkboxes__input" id="manual-address2" name="manual-address2" type="checkbox">
                              <label class="govuk-label govuk-checkboxes__label" for="manual-address2"> Enter address manually </label>
                            </div>
                          </div>
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-road"> Road </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="person-or-company-dealing-with-estate-address-road" name="person-or-company-dealing-with-estate-address-road" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-town"> Town/City
                          </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="person-or-company-dealing-with-estate-address-town" name="person-or-company-dealing-with-estate-address-town" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-county"> Country
                            (optional) </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="person-or-company-dealing-with-estate-address-county" name="person-or-company-dealing-with-estate-address-county" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="person-or-company-dealing-with-estate-address-country"> Country
                          </label>
                          <input class="govuk-input govuk-input--width-20 disabled" id="person-or-company-dealing-with-estate-address-country" name="executor-address-country" type="text">
                        </div>
                      </div>
                      <!-- End conditional reveal -->
                    </div>

                    <div class="govuk-form-group govuk-!-margin-top-4">
                        <label class="govuk-label" for="person-or-company-dealing-with-estate-contact-number">
                          Contact telephone number (optional)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="person-or-company-dealing-with-estate-contact-number" name="person-or-company-dealing-with-estate-contact-number" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="person-or-company-dealing-with-estate-email">
                          Contact email address (optional)
                        </label>
                        <input class="govuk-input govuk-input--width-20" id="person-or-company-dealing-with-estate-email" name="person-or-company-dealing-with-estate-email" type="text">
                      </div>

                  </fieldset>
                </div>

              </div>
              <!-- End conditional reveal -->

            </fieldset>
          </div>
        </div>
        <!-- End conditional reveal -->
      </fieldset>
    </div>


    <!---------button-------->

    
      <button class="govuk-button">Continue</button>
    </form>

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('manual-address');
    const addressFields = ['executor-address-road', 'executor-address-town',
      'executor-address-county', 'executor-address-country'
    ];
    checkbox.addEventListener('change', function () {
      addressFields.forEach(id => {
        const field = document.getElementById(id);
        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const findButton = document.getElementById('find-address');
    findButton.addEventListener('click', function () {
      document.getElementById('executor-address-road').value =
        '12 Broad Street';
      document.getElementById('executor-address-town').value =
        'Hereford';
      document.getElementById('executor-address-county').value =
        'Herefordshire';
      document.getElementById('executor-address-country').value =
        'United Kingdom';
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const checkbox = document.getElementById('manual-address2');
    const addressFields = ['person-or-company-dealing-with-estate-address-road', 'person-or-company-dealing-with-estate-address-town',
      'person-or-company-dealing-with-estate-address-county', 'person-or-company-dealing-with-estate-address-country'
    ];
    checkbox.addEventListener('change', function () {
      addressFields.forEach(id => {
        const field = document.getElementById(id);
        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }
      });
    });
  });
  document.addEventListener('DOMContentLoaded', function () {
    const findButton = document.getElementById('find-address2');
    findButton.addEventListener('click', function () {
      document.getElementById('person-or-company-dealing-with-estate-address-road').value =
        'Chestnut Drive';
      document.getElementById('person-or-company-dealing-with-estate-address-town').value =
        'Leominster';
      document.getElementById('person-or-company-dealing-with-estate-address-county').value =
        'Herefordshire';
      document.getElementById('person-or-company-dealing-with-estate-address-country').value =
        'United Kingdom';
    });
  });
</script>

{% endblock %}