{% extends "layouts/main.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageName="Confirmation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <p class="govuk-body"><a href="#">Print or save this page</a></p>

<h1 class="govuk-heading-xl">What to do when someone dies - checklist</h1>

  <p class="govuk-body govuk-!-padding-bottom-5">To help you further, we've put together a checklist of the things you may need to do after someone has died.</p>

<!---------The first 5 days-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "What to do in the first 5 days",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "Notify the family doctor"
    },
    {
      value: "employment-tribunal",
      text: "Find the will - the solicitor of the person who's died may have a copy if you can't find one"
    },
    {
      value: "MOD",
      text: "Begin funeral arragements - you will need to check the will for any special requests"
    }
  ]
}) }}

<!---------If there is a will-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "If there is a will",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "In England and Wales, contact the executor to enable them to start the proces of obtaining probate"
    },
    {
      value: "employment-tribunal",
      text: "In Scotland, apply for confirmation from the sheriff court. There is a simplified procedure for estates worth £36,000 or less in Scotland"
    }
  ]
}) }}

<!---------If there is no will-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "If there is no will",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "In England and Wales, decide who will be dealing with the estate of the person who has died. Contact the Probate Registry to apply for letters of administration."
    },
    {
      value: "employment-tribunal",
      text: "In Scotland, apply to the sheriff court for confirmation. There is a strict order of preference of who can apply to the sheriff court for appointment as executor dative"
    }
  ]
}) }}

<!---------New will-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Making a new will",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "Surviving relatives and friends of the person who's died may need to make a new will"
    }
  ]
}) }}

<!---------Who else to contact-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Who else to contact",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "Relatives and friends"
    },
    {
      value: "hmrc",
      text: "Employer"
    },
    {
      value: "hmrc",
      text: "School"
    },
    {
      value: "hmrc",
      text: "Solicitor/accountant"
    }            
  ]
}) }}

<!---------Financial orgs-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Financial Organisations",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "General insurance companies - contents, car, travel, medical etc"
    },
    {
      value: "hmrc",
      text: "Rental, hire purchase or loan agreements"
    },
    {
      value: "hmrc",
      text: "If the person who's died was named on an insurance policy, contact the provider to check that the insurance will continue"
    },
    {
      value: "hmrc",
      text: "Pension providers/Life insurance companies"
    },
    {
      value: "hmrc",
      text: "Banks and building socities"
    }  ,
    {
      value: "hmrc",
      text: "Mortgage provider"
    }  ,
    {
      value: "hmrc",
      text: "Credit card providers/store cards"
    }              
  ]
}) }}

<!---------Utilities-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Utilities and household contacts",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "Landlord or local authority for a rented a property"
    },
    {
      value: "hmrc",
      text: "Any private organisation/agency providing home help"
    },
    {
      value: "hmrc",
      text: "Utility companies"
    },
    {
      value: "hmrc",
      text: "Royal Mail"
    },
    {
      value: "hmrc",
      text: "TV/internet subscriptions"
    }               
  ]
}) }}

<!---------Other-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Other considerations",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      text: "Bereavement Register and Deceased Preference Service - this will remove the name of the person who's died from mailing lists"
    },
    {
      value: "hmrc",
      text: "Cancel membership of clubs, trade unions, associations with seasonal membership"
    },
    {
      value: "hmrc",
      text: "Inform church/regular place of worship"
    },
    {
      value: "hmrc",
      text: "Dentist and other medical providers"
    },
    {
      value: "hmrc",
      text: "Creditors"
    },
    {
      value: "hmrc",
      text: "Debtors"
    }               
  ]
}) }}

<!---------Other-------->

{{ govukCheckboxes({
  name: "organisation",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "Other considerations",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "hmrc",
      html: 'Check what you could be entitled to at <a class="govuk-link" href=#">www.gov.uk/benefits-calculators</a>'
    }              
  ]
}) }}

{% endblock %}
