{% extends "layouts/main.html" %}

{% set pageName="Confirmation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-left-9 govuk-!-margin-right-9">
  <h1 class="govuk-panel__title">
    Information sent
  </h1>
  <div class="govuk-panel__body">
    Your reference number<br><strong class="govuk-input--extra-letter-spacing">NTUO JHRN G8XT</strong>
  </div>
</div>
  <p class="govuk-body govuk-!-padding-top-9 govuk-!-padding-bottom-7"><a href="#">Print or save this page</a></p>

  <p class="govuk-body">Thank you for reporting {{data['deceased-title']}} {{data['deceased-surname']}}'s death.</p>
  <p class="govuk-body">Please take a note of your reference number in case you need to contact us.</p>
  <p class="govuk-body govuk-!-font-weight-bold">Using this service does not form any part of a claim to benefits.</p>

<h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">The organisations you have told about the death will update their records. <strong>They will not need to see the death certificate.</strong></p>
  <p class="govuk-body">if they need more information, they will contact the next of kin or person dealing with the estate.</p>
  <p class="govuk-body">Below is a list of the organisations you have given permission for us to share the information with.</p>
  <p class="govuk-body govuk-!-font-weight-bold">Department for Work and Pensions (DWP) - Benefits and Entitlements</p>
  <p class="govuk-body govuk-!-font-weight-bold">HM Revenue and Customs (HMRC) - Personal Tax</p>
  <p class="govuk-body govuk-!-font-weight-bold">HM Revenue and Customs (HMRC) - Benefits and Credits</p>
  <p class="govuk-body govuk-!-font-weight-bold">London Borough of Lewisham Council - Council Tax</p>
  <p class="govuk-body govuk-!-font-weight-bold">London Borough of Lewisham Council - Library Services</p>
  <p class="govuk-body govuk-!-font-weight-bold">London Borough of Lewisham Council - Blue Badge</p>
  <p class="govuk-body govuk-!-font-weight-bold">HM Passport Office (HMPO) - Passport</p>
  <p class="govuk-body govuk-!-font-weight-bold">Driver and Vehicle Licensing Agency (DVLA) - Driving Licence</p>
  <p class="govuk-body govuk-!-font-weight-bold">My Civil Service Pension</p>

<h2 class="govuk-heading-m govuk-!-padding-top-9">If you notified DVLA</h2>
  <p class="govuk-body">The DVLA will remove the person who died as the registered keeper of the vehicle. The vehicle tax will no longer be valid. You must <a href="#">tell DVLA if you either sell the vehicle or keep it.</a> If you keep it, you will need to tax the vehicle in your own name.</p>

  <h2 class="govuk-heading-m govuk-!-padding-top-9">If they had a public sector pension</h2>
<p class="govuk-body">
If the person who died had a public sector pension, contact the pension provider directly to close the account and stop any regular payments.</p>

<h2 class="govuk-heading-m govuk-!-padding-top-9">Check if you can get financial help</h2>
  <p class="govuk-body">If your partner has died, and you're under State Pension age, you could be eligible for <a href="#">Bereavement Support Payment</a>. You must have been married, in a civil partnership, or living with a dependent chilld to be eligible.</p>
  <p class="govuk-body">If you live in England or Wales, you could be <a href="#">eligible for help with funeral costs</a> if you get certain benefits.</p>
  <p class="govuk-body">You can call the DWP Bereavement Service free of charge and they can check if you're eligible and make an application.</p>

    <p class="govuk-body govuk-!-padding-left-9">DWP Bereavement Service helpline </p>
    <p class="govuk-body govuk-!-padding-top-3 govuk-!-padding-left-9">Telephone: 0800 151 2012 </p>
    <p class="govuk-body govuk-!-padding-left-9">Textphone: 0800 731 0464 </p>
    <p class="govuk-body govuk-!-padding-left-9">Welsh language telephone: 0800 731 0453</p>
    <p class="govuk-body govuk-!-padding-left-9">Welsh language Textphone: 0800 731 0456 </p>

    <p class="govuk-body"><a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 151 2012</p>
    <p class="govuk-body">British Sign Language (BSL) <a href="#">Video relay service (opens in a new tab)</a> if you’re on a computer - find out how to <a href="#">use the service on mobile or tablet (opens in a new tab)</a></p>
    <p class="govuk-body">Monday to Friday, 8am to 6pm</p>
    <p class="govuk-body">If you live in Scotland, you can <a href="#">apply for a Funeral Support Payment</a>. It has replaced Funeral Expenses Payment in Scotland.</p>
    <p class="govuk-body">Telephone: 0800 182 2222</p>
    <p class="govuk-body"><a href="#">contactSCOTLAND</a> for British Sign Language (BSL) users.</p>
    <p class="govuk-body">Monday to Friday, 8am to 6pm</p>
    

<h2 class="govuk-heading-m govuk-!-padding-top-9">Emotional help and support</h2>
    <p class="govuk-body">There are organisations who can help if you’re dealing with a bereavement, or supporting someone who is.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Cruse Bereavement Care</p>
    <p class="govuk-body">Cruse offer emotional support to anyone affected by bereavement:</p>
    <p class="govuk-body">Telephone: freephone 0808 808 1677</p>
    <p class="govuk-body">Website: <a href="#">www.cruse.org.uk</a></p>

    <p class="govuk-body govuk-!-padding-top-4">Scotland has a dedicated Cruse helpline and website:</p>
    <p class="govuk-body">Telephone: freephone 0808 802 6161</p>
    <p class="govuk-body">Website: <a href="#">www.crusescotland.org.uk</a></p>
    <p class="govuk-body govuk-!-padding-top-4">All calls are free of charge</p>

    <p class="govuk-body govuk-!-font-weight-bold">The Silver Line</p>
    <p class="govuk-body">The Silver Line offers a free confidential helpline for older people which is open 24 hours a day.</p>
    <p class="govuk-body">Telephone: 0800 470 8090</p>
    <p class="govuk-body">Website: <a href="#">www.thesilverline.org.uk</a></p>    


<h2 class="govuk-heading-m govuk-!-padding-top-6">Who else to tell about a death</h2>
    <p class="govuk-body">Use this <a href="#">checklist to consider who else to tell about the death</a></p>    

<h2 class="govuk-heading-m">Feedback</h2>
    <p class="govuk-body"><a href="#">What did you think of this service?</a> (Takes 30 seconds)</p> 
<br>
<div align="right">
    <p class="govuk-body"><a href="checklist">Check what to do when someone dies: (step by step)</a></p> 
</div>

<!---------Contact us for help-------->

<details class="govuk-details govuk-!-padding-top-6">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">
    <h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0800 085 7308</p>
<p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
<p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"> Email us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
  </div>
</details>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <!-- This section is for controlling the prototype - not for prod -->
            <div class="prototype-options">
                <div class="prototype-options-header-container">
                    <h3 class="govuk-heading-s prototype-options-header">Prototype options</h3>
                </div>
                <div class="prototype-options-content">
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="email-confirmation-preview" target="_blank">Show a preview of the email confirmation (opens in new tab)</a></p>
                </div>
            </div>
            <!-- End -->
            </div>
</div>

{% endblock %}
