{% extends "layouts/main.html" %}
{% set pageName="Do you want an email confirmation?" %}
{% set backLink = true %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{pageName}}
          </h1>
        </legend>
        <p class="govuk-body">The email will include a list of the organisations and services you've chosen to notify.</p>
        <div class="govuk-radios" data-module="govuk-radios">
          {% if data['informer-contact-email'] %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirmation-email" name="confirmation-email" type="radio" value="yes" data-aria-controls="conditional-confirmation-email">
            <label class="govuk-label govuk-radios__label" for="confirmation-email">
              Yes, send it to {{data['informer-contact-email']}}
            </label>
          </div>
          {% endif %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirmation-email" name="confirmation-email" type="radio" value="yes" data-aria-controls="conditional-confirmation-email">
            <label class="govuk-label govuk-radios__label" for="confirmation-email">
              Yes{% if data['informer-contact-email'] %}, send it to a different email address{% endif %}
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-confirmation-email">
            <div class="govuk-form-group">
              <label class="govuk-label" for="confirmation-email-address">
                Email address
              </label>
              <input class="govuk-input govuk-input--width-20" id="confirmation-email-address" name="confirmation-email-address" type="email" spellcheck="false" autocomplete="email">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="confirmation-email-2" name="confirmation-email" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="confirmation-email-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!---------button-------->

    <form class="form" action="before-we-send" method="post" novalidate>
      <button class="govuk-button">Continue</button>
    </form>
</div>
</div>
    <!-- Contact us -->
    {% include "includes/contact.njk" %}

    {% endblock %}