{% extends "layouts/main.html" %}
{% set pageName="Local council services" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" action="check-your-answers-2" method="post">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <h2 class="govuk-heading-m">
      Which council was providing most services to the person who died?
    </h2>

    <div id="council-question-hint" class="govuk-hint">
      For example, council housing, library services, Blue Badge, or paying Council Tax.
    </div>

    <div class="govuk-form-group govuk-!-margin-top-4">
      <label class="govuk-label" for="local-council">
        Select council
      </label>

      <div id="local-council-hint" class="govuk-hint">
        If they lived in an area with more than one council, you need to select the borough or district council from the list. We can then work out which council to notify too
      </div>

      <div class="govuk-!-width-two-thirds">
        <div id="autocomplete-container"></div>

        <select
          class="govuk-select govuk-visually-hidden"
          id="autocomplete"
          name="local-council"
          aria-describedby="local-council-hint">
          {% include "includes/registration-authorities.html" %}
        </select>
      </div>
    </div>

    <!-- If you want to tell more than one council -->

    <details class="govuk-details govuk-!-padding-bottom-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you want to tell more than one council
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          There may have been more than one council providing services to the person who died.
        </p>
        <p class="govuk-body">
          Select the council that was providing most services as that is who we will notify.
          You will need to contact the other council yourself.
        </p>
      </div>
    </details>

    <!-- Button -->

    <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

{% endblock %}