{% extends "layouts/main.html" %}
{% set pageName="Local council services" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/{{data.version}}/select-local-council" method="post">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">If the person who died used a council's services, you can notify that council about the death. For example, to update their Council Tax, housing or social services records.</p>

<p class="govuk-body">Tell Us Once can only notify one council.  If the person who died used services from more than once council, notify the one that provided the most services.</p>

<p class="govuk-body">Based on their address, the council that may have provided most council services to the person who died is:</p>

<div class="govuk-inset-text">Herefordshire Council</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Do you want to notify Herefordshire Council about the death?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="local-council-select" name="local-council-select" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="local-council-select">
          Yes
        </label>
      </div>
      <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="local-council-select-2" name="local-council-select" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="local-council-select-2">
          No, I want to select a different council
        </label>
      </div>
    </div>
  </fieldset>
</div>

    <!-- If you want to tell more than one council -->

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you want to tell more than one council
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          There may have been more than one council providing services to the person who died.
        </p>
        <p class="govuk-body">
          Select the council that was providing most services as that is who we will notify.
          You will need to contact the other council yourself.
        </p>
      </div>
    </details>

    <!-- Button -->

    <button class="govuk-button">Continue</button>

    </form>
  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

{% endblock %}