{% extends "layouts/main.html" %}

{% block pageTitle %}
Public sector pensions
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">  
      Public sector pensions
    </h1>

    <p class="govuk-body">We've found no public sector pensions that match the National Insurance number of the person who died: {{ data['ni-number'] | formatNiNumber }}.</p>
   
    <p class="govuk-body">This does not include State Pension. The State Pension is not a public sector pension. It’s a regular payment from the Department of Work and Pensions (DWP) based on the person's National Insurance record. Public sector pensions are for people who worked in the public sector, for example, in the NHS, local government or civil service.</p>

    <p class="govuk-body">We’ve not checked all public sector pension providers.</p>

     <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Which public sector pension providers we've checked
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We've checked for any public sector pensions that were provided by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Civil Service Pension Scheme</li>
          <li>NHS Pensions for NHS staff in England and Wales</li>
          <li>Scottish Public Pension Agency schemes for NHS staff, teachers, police and firefighters in Scotland</li>
          <li>Pension Protection Fund and Financial Assistance Scheme</li>
          <li>Local Government Pension Schemes (LGPS)</li>
        </ul>
        <p class="govuk-body">If the person who died had a public sector pension from a different provider, contact the pension provider directly to notify them of the death.</p>
      </div>
    </details>
    
    <form class="form" action="/v0_1/enrichment/notify-public-sector-pension-providers/check-answers" method="post">
      
      <button class="govuk-button govuk-!-margin-top-2">Continue</button>

    </form>

    <p class="govuk-body"><a href="ni-number" class="govuk-link">Enter a different National Insurance number</a></p>

  </div>
</div>

{% endblock %}