{% extends "layouts/main.html" %}

{% block pageTitle %}
Notify a public sector pension provider
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Notify a public sector pension provider
    </h1>

    <p class="govuk-body">We've found 1 public sector pension that matches the National Insurance number of the person who's
      died: {{ data['ni-number'] | formatNiNumber }}. </p>
    
    <p class="govuk-body">That pension is provided by: Civil Service Pension.</p>

    <p class="govuk-body">This does not include State Pension. The State Pension is not a public sector pension. It’s a regular payment from the Department of Work and Pensions (DWP) based on the person's National Insurance record. Public sector pensions are for people who worked in the public sector, for example, in the NHS, local government or civil service.</p>
    
    <p class="govuk-body govuk-!-margin-bottom-2">When you notify the pension provider about the death they
      will:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>stop any regular payments</li>
      <li>identify any people or organisations who were named to get the pension after the death</li>
      <li>close the account</li>
    </ul>

    <p class="govuk-body">We’ve not checked all public sector pension providers. </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Which public sector pension providers we've checked
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We've checked for any public sector pensions that were provided by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Civil Service Pension Scheme</li>
          <li>NHS Pensions for NHS staff in England and Wales</li>
          <li>Scottish Public Pension Agency schemes for NHS staff, teachers, police and firefighters in Scotland</li>
          <li>Pension Protection Fund and Financial Assistance Scheme</li>
          <li>Local Government Pension Schemes (LGPS)</li>
        </ul>
        <p class="govuk-body">If the person who died had a public sector pension from a different provider, contact the pension provider directly to notify them of the death.</p>
      </div>
    </details>

    <form class="form" action="check-your-answers-3" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to notify Civil Service Pension about the death?
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="notify-pension" name="notify-pension" type="radio" value="yes" {% if data['notify-pension'] == 'yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="notify-pension">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="notify-pension-2" name="notify-pension" type="radio" value="no" {% if data['notify-pension'] == 'no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="notify-pension-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    <p class="govuk-body"><a href="ni-number" class="govuk-link">Enter a different National Insurance number</a></p>

  </div>
</div>

{% endblock %}