{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter death registration details
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      We could not match the death registration details
    </h1>
    <p class="govuk-body">
      You will not be able to enter the death registration details again for 20 minutes.
    </p>
    <h2 class="govuk-heading-m">
      What you can do
    </h2>
    <p class="govuk-body">
      Check that the reference number has not expired. The reference number to use Tell Us Once stops working 28 days
      after it was issued.
    </p>
    <p class="govuk-body">
      If your reference number has expired, check if you can get a new reference number by <a href="">contacting the
        register office</a> where the death was registered.
    </p>
    <h3 class="govuk-heading-s">
      If your reference number is valid
    </h3>
    <p class="govuk-body">
      Wait 20 minutes and <a href="">enter the death registration details again</a>.
    </p>
    <p class="govuk-body">Or, you can contact us to complete Tell Us Once by phone.</p>
    <h4 class="govuk-heading-s">
      Contact us
    </h4>
    <p class="govuk-body">Telephone: 0800 085 7308</p>
    <p class="govuk-body">Relay UK (if you cannot hear or speak on the phone): 18001 0800 085 7308</p>
    <p class="govuk-body">Monday to Friday 8am to 6pm. Calls are free. </p>
    <p class="govuk-body">To use the British Sign Language (BSL) video relay service, go to ‘How to use Tell Us Once'
      on <a href="">Tell Us Once on GOV.UK</a>.</p> 
  </div>
</div>

{% endblock %}