{% extends "layouts/main.html" %}
{% set pageName="Next, we'll ask who you want to notify about the death" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">We'll ask if you want to notify:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tax, benefits and entitlements (including State Pension)</li>
      <li>local council services, such as Council Tax, Housing Benefit and Blue Badge</li>
      <li>passport, driving and vehicle services</li>
      <li>armed forces pension and compensation schemes</li>
      <li>public sector pension providers (if they worked in the public sector, for example, in the NHS, local government or civil service)</li>
    </ul>

    <h2 class="govuk-heading-m">What information you may need</h2>

    <p class="govuk-body">Depending who you want to notify about the death, you may need certain information.
      If you want to cancel their:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>UK passport, you’ll need their passport number and place of birth (as stated on their passport)</li>
      <li>UK driving licence, you’ll need their driving licence number</li>
      <li>‘registered owner of a motor vehicle’ status, you’ll need their vehicle registration number</li>
    </ul>

    <p class="govuk-body">If you want to cancel a Blue Badge, you can enter their Blue Badge number if you have it. This can help the council find their record quicker.</p>

    <p class="govuk-body">If you notify their council tax provider, you’ll be asked how many other people now live in the property. This can help the council work out if council tax payments need to change.</p>
    
    <!---------button-------->

    {{ govukButton({
    text: "Continue",
    href: 'who-do-you-want-to-notify'
    }) }}

    <!---------If any of these details are wrong-------->

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

{% endblock %}