{% extends "layouts/main.html" %}
{% set pageName %}
Finally, what we'll ask about other people
{% endset %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">Because you’ve told us that you’re not the {% if data['informer-next-of-kin'] == 'no' %}
the next of kin,
{% endif %}
{% if (data['informer-relationship'] != 'Husband'
and data['informer-relationship'] != 'Wife'
and data['informer-relationship'] != 'Spouse'
and data['informer-relationship'] != 'Civil Partner'
) %}
or the partner of the person who died
{% endif %}
{% if data['informer-deal-estate'] == 'no' %} or person dealing with the estate
{% endif %} we’ll ask for their details. </p>
    <p class="govuk-body">Their details can help the organisations and services you’ve chosen to notify to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>match the records of the person who died</li>
      <li>know who to contact if they need more information</li>
    </ul>

    {% if data['informer-next-of-kin'] == 'no' %}
    <h2 class="govuk-heading-m">The next of kin</h2>
    <p class="govuk-body">If there's a next of kin, we'll ask:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for their name and address</li>
      <li>for their relationship to the person who's died</li>
      <li>whether they can be contacted</li>
    </ul>
    <p class="govuk-body">If they can be contacted we'll also ask:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for their phone number and email address (optional) </li>
      <li>whether they're dealing with the estate of the person who's died</li>
    </ul>
    {% endif %}

    {% if (data['informer-relationship'] != 'Husband'
    and data['informer-relationship'] != 'Wife'
    and data['informer-relationship'] != 'Spouse'
    and data['informer-relationship'] != 'Civil Partner'
    and data['informer-relationship'] != 'Partner'
    and data['deceased-marital-status'] == 'Married'
    or data['deceased-marital-status'] == 'Civil Partnership'
    ) %}
    <h2 class="govuk-heading-m">The person who was married or in a civil partnership with the person who's died</h2>
    <p class="govuk-body">If you have permission to share their details, we'll ask for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>for their name and address</li>
      <li>for their relationship to the person who's died</li>
      <li>either their date of birth or National Insurance number</li>
      <li>their email address</li>
    </ul>
    {% endif %}

    {% if data['informer-deal-estate'] == 'no' %}
    <h2 class="govuk-heading-m">About the executor or administrator of the estate</h2>
    <p class="govuk-body">If you know who the executor or administrator of the estate is (a person or company legally responsible for the money, property and possessions of the person who died) we’ll ask:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>whether it's a person or a company</li>
      <li>for their name and address</li>
      <li>for their phone number and email address (optional)</li>
    </ul>
    {% endif %}

    <!---------button-------->

    <form class="form" action="/{{ data.version }}/is-there-a-next-of-kin" method="post">
      <button class="govuk-button">Continue</button>
      </form>

    <!---------If any of these details are wrong-------->

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

{% endblock %}