{% extends "layouts/prototype.html" %}
{% set active = "" %}

{% block pageTitle %}
  {{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
  </ol>
</nav>
    <h1 class="govuk-heading-xl">
        Page index
      </h1>
        <p class="govuk-body-l">Find pages in the Tell Us Once prototype.</p>
        <div class="govuk-inset-text">Page links open in a new tab</div>
        </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
            <div class="tuo-card-group">
      <a href="/page-index/enrichment/before-starting-the-journey" class="tuo-card">
        <h2 class="govuk-heading-m">Enrichment</h2>
        <p class="govuk">The public facing Tell Us Once journey.</p>
      </a>
      <!-- <a href="" class="tuo-card">
        <h2 class="govuk-heading-m">Capture</h2>
        <p class="govuk">Used by registrars to record a death in Tell Us Once.</p>
      </a> -->
    </div>
  </div>
</div>

{% endblock %}
