{% extends "layouts/prototype.html" %}
{% set active = "before-starting-the-journey" %}

{% block pageTitle %}
Page index - before-starting-the-journey
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index.html">Page index</a>
        </li>
      </ol>
    </nav>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Enrichment</span>
      Before starting the journey
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/before-you-start" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/before-you-start" target="_blank">You must have the information needed to use Tell Us Once</a></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/check-if-you-need-consent" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/check-if-you-need-consent" target="_blank">Check if you need consent before you start</a></p>
      </div>
    </div>

  </div>

</div>

{% endblock %}