{% extends "layouts/prototype.html" %}
{% set active = "email-confirmation" %}

{% block pageTitle %}
{{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index.html">Page index</a>
        </li>
      </ol>
    </nav>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Enrichment</span>
       Email confirmation
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/email-confirmation" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/email-confirmation">Do you want an email confirmation?
</a></p>
      </div>
    </div>
</div>

{% endblock %}