{% extends "layouts/prototype.html" %}
{% set active = "notify-organisations-about-the-death" %}

{% block pageTitle %}
{{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/page-index-side-nav.njk" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/index.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index.html">Page index</a>
        </li>
      </ol>
    </nav>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Enrichment</span>
      Notify the organisations about the death
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Section introduction</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/what-well-ask-about-who-you-want-to-notify-about-the-death" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <h4 class="govuk-body"><a href="/future/what-well-ask-about-who-you-want-to-notify-about-the-death">Next, we'll ask who you want to notify about the death</a></h4>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Notify organisations and services about the death</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/who-do-you-want-to-notify" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2">
          Existing page
        </strong>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--purple">
          Design iterations
        </strong>
        <p class="govuk-body"><a href="/future/who-do-you-want-to-notify">Notify organisations about the death</a></p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Notify public sector pension providers</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/notify-a-public-sector-pension-provider" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/notify-a-public-sector-pension-provider">Notify a public sector pension provider</a></p>
        <p class="govuk-body">If the person who's died has less than one public sector pension.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/notify-a-public-sector-pension" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/notify-a-public-sector-pension">Notify public sector pension providers</a></p>
        <p class="govuk-body">If the person who's died has more than one public sector pension.</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/no-public-sector-pensions-found" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/no-public-sector-pensions-found">No public sector pensions found</a></p>
        <p class="govuk-body">When there are no public sector pensions found based on the person who died's National Insurance number.</p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Check your answers</h2>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-iframe--container">
          <iframe class="govuk-iframe" src="/future/check-your-answers-3" aria-hidden="true" tabindex="-1"></iframe>
        </div>
        <strong class="govuk-tag govuk-!-margin-bottom-2 govuk-tag--green">
          New page
        </strong>
        <p class="govuk-body"><a href="/future/check-your-answers-3">Local council services</a></p>
      </div>
    </div>
  </div>

</div>

{% endblock %}