{% extends "layouts/main.html" %}
{% set pageName="About the next of kin" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form class="form" action="/{{data.version}}/about-the-spouse-not-spouse" method="post">

      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Is there a next of kin?
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-next-of-kin-1" name="is-next-of-kin" type="radio" value="yes" data-aria-controls="conditional-is-next-of-kin-1">
              <label class="govuk-label govuk-radios__label" for="is-next-of-kin-1">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="is-next-of-kin-2" name="is-next-of-kin" type="radio" value="no" data-aria-controls="conditional-is-next-of-kin-2">
              <label class="govuk-label govuk-radios__label" for="is-next-of-kin-2">
                No
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-is-next-of-kin-2">
            </div>

          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-is-next-of-kin-1">

            <fieldset class="govuk-fieldset govuk-!-margin-top-6">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Their details
              </legend>

              <p class="govuk-body">Please enter the details of the person dealing with their estate</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="next-of-kin-title">
                  Title
                </label>
                <div id="next-of-kin-title-hint" class="govuk-hint">
                  Please select an option from the list. If the required option is not available please select 'Other'
                  and enter manually
                </div>
                <select class="govuk-select" id="next-of-kin-title" name="next-of-kin-title">
                  <option value="" selected>Select an option</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                  <option value="Rev">Rev</option>
                  <option value="Dr">Dr</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="next-of-kin-first-name">
                  First name
                </label>
                <input class="govuk-input govuk-input--width-20" id="next-of-kin-first-name" name="next-of-kin-first-name" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="next-of-kin-last-name">
                  Surname
                </label>
                <input class="govuk-input govuk-input--width-20" id="next-of-kin-last-name" name="next-of-kin-last-name" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="autocomplete-relationship">
                  Next of kin's relationship with the person who's died
                </label>
                <div id="next-of-kin-relationship-hint" class="govuk-hint">
                  If the relationship is not shown please select 'Other'
                </div>

                <select class="govuk-select" id="autocomplete-relationship" name="next-of-kin-relationship">
                  <option value="">Select an option</option>
                  <option value="Husband">Husband</option>
                  <option value="Wife">Wife</option>
                  <option value="Spouse">Spouse</option>
                  <option value="Civil Partner">Civil Partner</option>
                  <option value="Partner">Partner</option>
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                  <option value="Son">Son</option>
                  <option value="Daughter">Daughter</option>
                  <option value="Brother">Brother</option>
                  <option value="Sister">Sister</option>
                  <option value="Other">Other</option>
                  <option value="Aunt">Aunt</option>
                  <option value="Boyfriend">Boyfriend</option>
                  <option value="Brother-in-law">Brother-in-law</option>
                  <option value="Daughter-in-law">Daughter-in-law</option>
                  <option value="Executor">Executor</option>
                  <option value="Ex-husband">Ex-husband</option>
                  <option value="Ex-partner">Ex-partner</option>
                  <option value="Ex-wife">Ex-wife</option>
                  <option value="Father-in-law">Father-in-law</option>
                  <option value="Friend">Friend</option>
                  <option value="Girlfriend">Girlfriend</option>
                  <option value="Granddaughter">Granddaughter</option>
                  <option value="Grandfather">Grandfather</option>
                  <option value="Grandmother">Grandmother</option>
                  <option value="Grandson">Grandson</option>
                  <option value="Mother-in-law">Mother-in-law</option>
                  <option value="Nephew">Nephew</option>
                  <option value="Niece">Niece</option>
                  <option value="Sister-in-law">Sister-in-law</option>
                  <option value="Son-in-law">Son-in-law</option>
                  <option value="Stepbrother">Stepbrother</option>
                  <option value="Stepdaughter">Stepdaughter</option>
                  <option value="Stepfather">Stepfather</option>
                  <option value="Stepmother">Stepmother</option>
                  <option value="Stepsister">Stepsister</option>
                  <option value="Stepson">Stepson</option>
                  <option value="Uncle">Uncle</option>
                </select>
              </div>

              <div class="govuk-form-group govuk-!-margin-top-6">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend">
                    Can the next of kin be contacted?
                  </legend>

                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="next-of-kin-contact-1" name="next-of-kin-contact" type="radio" value="yes" data-aria-controls="conditional-next-of-kin-contact">
                      <label class="govuk-label govuk-radios__label" for="next-of-kin-contact-1">
                        Yes
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="next-of-kin-contact-2" name="next-of-kin-contact" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="next-of-kin-contact-2">
                        No
                      </label>
                    </div>

                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-next-of-kin-contact">

                    <h2 class="govuk-heading-s govuk-!-margin-top-6">Their contact details</h2>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-house-number">
                        House number or name
                      </label>
                      <input class="govuk-input govuk-!-width-one-quarter" id="next-of-kin-address-house-number" name="next-of-kin-address-house-number" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-postcode">
                        Postcode
                      </label>
                      <div class="govuk-hint">For example, AA3 1AB</div>
                      <input class="govuk-input govuk-!-width-one-quarter" id="next-of-kin-address-postcode" name="next-of-kin-address-postcode" type="text">

                      <div class="postcode-inline">
                        <button type="button" id="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
                          Find address
                        </button>


                        <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                          <input class="govuk-checkboxes__input" id="manual-address" name="manual-address" type="checkbox">
                          <label class="govuk-label govuk-checkboxes__label" for="manual-address">
                            Enter address manually
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-road">
                        Road
                      </label>
                      <input class="govuk-input govuk-input--width-20 disabled" id="next-of-kin-address-road" name="next-of-kin-address-road" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-town">
                        Town/City
                      </label>
                      <input class="govuk-input govuk-input--width-20 disabled" id="next-of-kin-address-town" name="next-of-kin-address-town" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-county">
                        Country (optional)
                      </label>
                      <input class="govuk-input govuk-input--width-20 disabled" id="next-of-kin-address-county" name="next-of-kin-address-county" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-address-country">
                        Country
                      </label>
                      <input class="govuk-input govuk-input--width-20 disabled" id="next-of-kin-address-country" name="next-of-kin-address-country" type="text">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-contact-number">Contact telephone number
                        (optional)</label>
                      <input class="govuk-input govuk-input--width-20" id="next-of-kin-contact-number" name="next-of-kin-contact-number" type="tel">
                    </div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="next-of-kin-contact-email">Email (optional)</label>
                      <input class="govuk-input govuk-input--width-20" id="next-of-kin-contact-email" name="next-of-kin-contact-email" type="email">
                    </div>

                    <div class="govuk-form-group govuk-!-margin-top-6">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                          <h2 class="govuk-fieldset__heading">
                            Is the next of kin also the executor or administrator of the estate?
                          </h2>
                        </legend>
                        <div class="govuk-hint">That is, the person legally responsible for the money, property and possessions of the person who died.</div>
                        <div class="govuk-radios govuk-radios--inline">

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="estate-yes" name="next-of-kin-deal-estate" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="estate-yes">Yes</label>
                          </div>

                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="estate-no" name="next-of-kin-deal-estate" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="estate-no">No</label>
                          </div>

                        </div>
                      </fieldset>
                    </div>


                  </div>
                </fieldset>


              </div>

            </fieldset>

          </div>

        </fieldset>
      </div>

      <form class="form" action="/{{data.version}}/about-the-spouse-not-spouse" method="post">
        <button class="govuk-button">Continue</button>
      </form>

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {

    const checkbox = document.getElementById('manual-address');

    const addressFields = [
      'next-of-kin-address-road',
      'next-of-kin-address-town',
      'next-of-kin-address-county',
      'next-of-kin-address-country'
    ];

    checkbox.addEventListener('change', function () {

      addressFields.forEach(id => {
        const field = document.getElementById(id);

        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }

      });

    });

  });

  document.addEventListener('DOMContentLoaded', function () {

    const findButton = document.getElementById('find-address');

    findButton.addEventListener('click', function () {

      document.getElementById('next-of-kin-address-road').value = 'Holly Road';
      document.getElementById('next-of-kin-address-town').value = 'Hereford';
      document.getElementById('next-of-kin-address-county').value = 'Herefordshire';
      document.getElementById('next-of-kin-address-country').value = 'United Kingdom';

    });

  });

</script>
{% endblock %}