{% extends "layouts/main.html" %}
{% set pageName="About you" %}
{% set backLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/{{ data.version }}/relationship-to-deceased" method="post">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">Your details</h2>
        </legend>

        <!-- TITLE -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-title">
            Title
          </label>
          <div class="govuk-hint">
            Select an option from the list. If not available select 'Other'.
          </div>

          <select class="govuk-select" id="informer-title" name="informer-title">
            <option value="">Select an option</option>
            <option value="mr" {% if data['informer-title']=='mr' %}selected{% endif %}>Mr</option>
            <option value="mrs" {% if data['informer-title']=='mrs' %}selected{% endif %}>Mrs</option>
            <option value="miss" {% if data['informer-title']=='miss' %}selected{% endif %}>Miss</option>
            <option value="ms" {% if data['informer-title']=='ms' %}selected{% endif %}>Ms</option>
            <option value="rev" {% if data['informer-title']=='rev' %}selected{% endif %}>Rev</option>
            <option value="dr" {% if data['informer-title']=='dr' %}selected{% endif %}>Dr</option>
            <option value="other" {% if data['informer-title']=='other' %}selected{% endif %}>Other</option>
          </select>
        </div>

        <!-- NAME -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-first-name">
            First name
          </label>
          <input class="govuk-input govuk-input--width-20" id="informer-first-name" name="informer-first-name" type="text" value="{{data['informer-first-name']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="informer-last-name">
            Surname
          </label>
          <input class="govuk-input govuk-input--width-20" id="informer-last-name" name="informer-last-name" type="text" value="{{data['informer-last-name']}}">
        </div>

      </fieldset>

      <h2 class="govuk-heading-m govuk-!-padding-top-2">Your relationship to the person who died</h2>

      <!-- RELATIONSHIP -->
      <div class="govuk-form-group govuk-!-margin-top-4">
        <label class="govuk-label" for="informer-relationship">
          What is your relationship to the person who died?
        </label>

        <div class="govuk-hint">
          Please select an option from the list. If not shown select 'Other'
        </div>

        <select class="govuk-select" id="autocomplete-relationship" name="informer-relationship">

          <option value="">Select an option</option>
          <option value="Husband" {% if data['informer-relationship']=='Husband' %}selected{% endif %}>Husband</option>
          <option value="Wife" {% if data['informer-relationship']=='Wife' %}selected{% endif %}>Wife</option>
          <option value="Spouse" {% if data['informer-relationship']=='Spouse' %}selected{% endif %}>Spouse</option>
          <option value="Civil Partner" {% if data['informer-relationship']=='Civil Partner' %}selected{% endif %}>Civil Partner</option>
          <option value="Partner" {% if data['informer-relationship']=='Partner' %}selected{% endif %}>Partner</option>
          <option value="Father" {% if data['informer-relationship']=='Father' %}selected{% endif %}>Father</option>
          <option value="Mother" {% if data['informer-relationship']=='Mother' %}selected{% endif %}>Mother</option>
          <option value="Son" {% if data['informer-relationship']=='Son' %}selected{% endif %}>Son</option>
          <option value="Daughter" {% if data['informer-relationship']=='Daughter' %}selected{% endif %}>Daughter</option>
          <option value="Brother" {% if data['informer-relationship']=='Brother' %}selected{% endif %}>Brother</option>
          <option value="Sister" {% if data['informer-relationship']=='Sister' %}selected{% endif %}>Sister</option>
          <option value="Other" {% if data['informer-relationship']=='Other' %}selected{% endif %}>Other</option>
          <option value="Aunt" {% if data['informer-relationship']=='Aunt' %}selected{% endif %}>Aunt</option>
          <option value="Boyfriend" {% if data['informer-relationship']=='Boyfriend' %}selected{% endif %}>Boyfriend</option>
          <option value="Brother-in-law" {% if data['informer-relationship']=='Brother-in-law' %}selected{% endif %}>Brother-in-law</option>
          <option value="Daughter-in-law" {% if data['informer-relationship']=='Daughter-in-law' %}selected{% endif %}>Daughter-in-law</option>
          <option value="Executor" {% if data['informer-relationship']=='Executor' %}selected{% endif %}>Executor</option>
          <option value="Ex-husband" {% if data['informer-relationship']=='Ex-husband' %}selected{% endif %}>Ex-husband</option>
          <option value="Ex-partner" {% if data['informer-relationship']=='Ex-partner' %}selected{% endif %}>Ex-partner</option>
          <option value="Ex-wife" {% if data['informer-relationship']=='Ex-wife' %}selected{% endif %}>Ex-wife</option>
          <option value="Father-in-law" {% if data['informer-relationship']=='Father-in-law' %}selected{% endif %}>Father-in-law</option>
          <option value="Friend" {% if data['informer-relationship']=='Friend' %}selected{% endif %}>Friend</option>
          <option value="Girlfriend" {% if data['informer-relationship']=='Girlfriend' %}selected{% endif %}>Girlfriend</option>
          <option value="Granddaughter" {% if data['informer-relationship']=='Granddaughter' %}selected{% endif %}>Granddaughter</option>
          <option value="Grandfather" {% if data['informer-relationship']=='Grandfather' %}selected{% endif %}>Grandfather</option>
          <option value="Grandmother" {% if data['informer-relationship']=='Grandmother' %}selected{% endif %}>Grandmother</option>
          <option value="Grandson" {% if data['informer-relationship']=='Grandson' %}selected{% endif %}>Grandson</option>
          <option value="Mother-in-law" {% if data['informer-relationship']=='Mother-in-law' %}selected{% endif %}>Mother-in-law</option>
          <option value="Nephew" {% if data['informer-relationship']=='Nephew' %}selected{% endif %}>Nephew</option>
          <option value="Niece" {% if data['informer-relationship']=='Niece' %}selected{% endif %}>Niece</option>
          <option value="Sister-in-law" {% if data['informer-relationship']=='Sister-in-law' %}selected{% endif %}>Sister-in-law</option>
          <option value="Son-in-law" {% if data['informer-relationship']=='Son-in-law' %}selected{% endif %}>Son-in-law</option>
          <option value="Stepbrother" {% if data['informer-relationship']=='Stepbrother' %}selected{% endif %}>Stepbrother</option>
          <option value="Stepdaughter" {% if data['informer-relationship']=='Stepdaughter' %}selected{% endif %}>Stepdaughter</option>
          <option value="Stepfather" {% if data['informer-relationship']=='Stepfather' %}selected{% endif %}>Stepfather</option>
          <option value="Stepmother" {% if data['informer-relationship']=='Stepmother' %}selected{% endif %}>Stepmother</option>
          <option value="Stepsister" {% if data['informer-relationship']=='Stepsister' %}selected{% endif %}>Stepsister</option>
          <option value="Stepson" {% if data['informer-relationship']=='Stepson' %}selected{% endif %}>Stepson</option>
          <option value="Uncle" {% if data['informer-relationship']=='Uncle' %}selected{% endif %}>Uncle</option>
        </select>
      </div>

      <!-- ESTATE -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <h2 class="govuk-fieldset__heading">
              Are you the executor or administrator of the estate?
            </h2>
          </legend>
          <div class="govuk-hint">They are the person or people legally responsible for the money, property and possessions of the person who died.</div>
          <div class="govuk-radios govuk-radios--inline">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="estate-yes" name="informer-deal-estate" type="radio" value="yes" {% if data['informer-deal-estate']=='yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="estate-yes">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="estate-no" name="informer-deal-estate" type="radio" value="no" {% if data['informer-deal-estate']=='no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="estate-no">No</label>
            </div>

          </div>
        </fieldset>
      </div>

      <!-- NEXT OF KIN -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <h2 class="govuk-fieldset__heading">Are you the next of kin?</h2>
          </legend>

          <div class="govuk-radios govuk-radios--inline">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="next-of-kin-yes" name="informer-next-of-kin" type="radio" value="yes" {% if data['informer-next-of-kin']=='yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="next-of-kin-yes">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="next-of-kin-no" name="informer-next-of-kin" type="radio" value="no" {% if data['informer-next-of-kin']=='no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="next-of-kin-no">No</label>
            </div>

          </div>
        </fieldset>
      </div>


      <h2 class="govuk-heading-m">Your contact details</h2>

      <p class="govuk-body">The organisations and services you choose to notify about the death will only use your contact details if they need more information from you.</p>

    </div>

    <div class="govuk-grid-column-full">
      <!-- SAME ADDRESS -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-body govuk-!-padding-top-4">
            Is your address the same as the person who’s died?
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="same-address-yes" name="informer-same-address" type="radio" value="yes" data-aria-controls="conditional-same-address-yes" checked>
              <label class="govuk-label govuk-radios__label" for="same-address-yes">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="same-address-no" name="informer-same-address" type="radio" value="no" data-aria-controls="conditional-same-address-no" {% if data['informer-same-address']=='no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="same-address-no">No</label>
            </div>

          </div>

          <!-- YES -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border govuk-!-margin-top-2" id="conditional-same-address-yes">
            <h2 class="govuk-heading-s">Address of the person who’s died</h2>
            <div class="govuk-inset-text govuk-!-margin-top-2">
              13 Holly Road<br>
              Hereford<br>
              Herefordshire<br>
              HR1 1GL<br>
            </div>
          </div>

          <!-- NO -->
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden reveal--no-border" id="conditional-same-address-no">

            <h2 class="govuk-heading-s govuk-!-margin-top-2">Find your address</h2>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-house-number">
                House number or name
              </label>
              <input class="govuk-input govuk-!-width-one-quarter" id="informer-address-house-number" name="informer-address-house-number" type="text" value="{{data['informer-address-house-number']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-postcode">
                Postcode
              </label>
              <div class="govuk-hint">For example, AA3 1AB</div>
              <input class="govuk-input govuk-!-width-one-quarter" id="informer-address-postcode" name="informer-address-postcode" type="text" value="{{data['informer-address-postcode']}}">

              <div class="postcode-inline">
                <button type="button" id="find-address" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-left-7">
                  Find address
                </button>


                <div class="govuk-checkboxes__item govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                  <input class="govuk-checkboxes__input" id="manual-address" name="manual-address" type="checkbox">
                  <label class="govuk-label govuk-checkboxes__label" for="manual-address">
                    Enter address manually
                  </label>
                </div>
              </div>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-road">
                Road
              </label>
              <input class="govuk-input govuk-input--width-20 disabled" id="informer-address-road" name="informer-address-road" type="text" value="{{data['informer-address-road']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-town">
                Town/City
              </label>
              <input class="govuk-input govuk-input--width-20 disabled" id="informer-address-town" name="informer-address-town" type="text" value="{{data['informer-address-town']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-county">
                Country (optional)
              </label>
              <input class="govuk-input govuk-input--width-20 disabled" id="informer-address-county" name="informer-address-county" type="text" value="{{data['informer-address-county']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="informer-address-country">
                Country
              </label>
              <input class="govuk-input govuk-input--width-20 disabled" id="informer-address-country" name="informer-address-country" type="text" value="{{data['informer-address-country']}}">
            </div>


          </div>

        </fieldset>
      </div>

      </div>

    <div class="govuk-grid-column-two-thirds">
      <!-- CONTACT -->
      <div class="govuk-form-group govuk-!-padding-top-4">
        <label class="govuk-label" for="informer-contact-number">Contact telephone number (optional)</label>
        <input class="govuk-input govuk-input--width-20" id="informer-contact-number" name="informer-contact-number" type="tel" value="{{data['informer-contact-number']}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="informer-contact-email">Email (optional)</label>
        <input class="govuk-input govuk-input--width-20" id="informer-contact-email" name="informer-contact-email" type="email" value="{{data['informer-contact-email']}}">
      </div>


      <button class="govuk-button">
        Continue
      </button>

    </form>

    <!---------Contact us for help-------->
    {% include "includes/contact.njk" %}

  </div>
</div>
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    const checkbox = document.getElementById('manual-address');

    const addressFields = [
      'informer-address-road',
      'informer-address-town',
      'informer-address-county',
      'informer-address-country'
    ];

    checkbox.addEventListener('change', function () {

      addressFields.forEach(id => {
        const field = document.getElementById(id);

        if (checkbox.checked) {
          field.classList.remove('disabled');
        } else {
          field.classList.add('disabled');
        }

      });

    });

  });

  document.addEventListener('DOMContentLoaded', function () {

    const findButton = document.getElementById('find-address');

    findButton.addEventListener('click', function () {

      document.getElementById('informer-address-road').value = 'Holly Road';
      document.getElementById('informer-address-town').value = 'Hereford';
      document.getElementById('informer-address-county').value = 'Herefordshire';
      document.getElementById('informer-address-country').value = 'United Kingdom';

    });

  });

</script>


{% endblock %}