{% extends "layouts/main.html" %}
{% set pageName="Your date of birth or National Insurance number" %}
{% set backLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-your-answers-1" method="post">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">As you were {% if data['informer-relationship'] == "Husband" or data['informer-relationship'] == "Wife" or data['informer-relationship'] == "Spouse" %}married to{% elif data['informer-relationship'] == "Civil Partnership" %}in a civil partnership with{% endif %} the person who died, you must also enter either your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>date of birth</li>
      <li>National Insurance number</li>
    </ul>

    <p class="govuk-body">This will help the organisations and services you choose to notify to match the records of the person who died.</p>

    

    <!---------DoB-------->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="spouse-dob-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
           Your date of birth
        </legend>
        <div id="spouse-dob-hint" class="govuk-hint">
          For example, 19 4 1985
        </div>
        <div class="govuk-date-input" id="spouse-dob-day">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="spouse-dob-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spouse-dob-day" name="spouse-dob-day" type="text" inputmode="numeric" value="{{data['spouse-dob-day']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="spouse-dob-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="spouse-dob-month" name="spouse-dob-month" type="text" inputmode="numeric" value="{{data['spouse-dob-month']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="spouse-dob-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="spouse-dob-year" name="spouse-dob-year" type="text" inputmode="numeric" value="{{data['spouse-dob-year']}}">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <!---------NINO-------->

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--m" for="spouse-ni-number">
        Your National Insurance number
      </label>
      <div id="spouse-ni-number-hint" class="govuk-hint">
        It’s on your National Insurance card, benefit letter, payslip or P60&mdash;for example, QQ 12 34 56 C'.
      </div>
      <input class="govuk-input govuk-input--width-10" id="spouse-ni-number" name="spouse-ni-number" type="text" spellcheck="false" aria-describedby="spouse-ni-number" autocomplete="none" value="{{data['spouse-ni-number']}}">
    </div>

    <!---------Button-------->

     <button class="govuk-button">Continue</button>

    </form>

    <!---------Contact us for help-------->

    <details class="govuk-details govuk-!-padding-top-6">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Contact us for help
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">Telephone</h3>
        <p class="govuk-body">0800 085 7308</p>
        <p class="govuk-body">Relay UK: 18001 0800 085 7308<br><a href="#">Video Relay Service for British Sign Language (BSL) (opens in new tab)</a></p>
        <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
        <h3 class="govuk-heading-s">reference</h3>
        <p class="govuk-body"> reference us at <a href="#">tellusonce.communications@dwp.gov.uk</a></p>
      </div>
    </details>
  </div>
</div>
{% endblock %}