{% extends "layouts/main.html" %}

{% block pageTitle %}
Notify public sector pension providers
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Notify public sector pension providers
    </h1>

    <p class="govuk-body">We've found 2 public sector pensions that match the National Insurance number of the person
      who's died: {{ data['ni-number'] | formatNiNumber }}.</p>
      
      <p class="govuk-body">This does not include State Pension. The State Pension is not a public sector pension. It’s a regular payment from the Department of Work and Pensions (DWP) based on the person's National Insurance record. Public sector pensions are for people who worked in the public sector, for example, in the NHS, local government or civil service.</p>

    <p class="govuk-body govuk-!-margin-bottom-2">When you notify a public sector pension provider about the death they
      will:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>stop any regular payments</li>
      <li>identify any people or organisations who were named to get the pension after the death</li>
      <li>close the account</li>
    </ul>

    <p class="govuk-body">We’ve not checked all public sector pension providers.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Which public sector pension providers we've checked
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We've checked for any public sector pensions that were provided by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Civil Service Pension Scheme</li>
          <li>NHS Pensions for NHS staff in England and Wales</li>
          <li>Scottish Public Pension Agency schemes for NHS staff, teachers, police and firefighters in Scotland</li>
          <li>Pension Protection Fund and Financial Assistance Scheme</li>
          <li>Local Government Pension Schemes (LGPS)</li>
        </ul>
        <p class="govuk-body">If the person who died had a public sector pension from a different provider, contact the pension provider directly to notify them of the death.</p>
      </div>
    </details>

    <form class="form" action="check-your-answers-3" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="pensions-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Which public sector pension providers do you want to notify about the death?
            </h2>
          </legend>
          <div id="pensions-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions" name="pensions" type="checkbox"
                value="Civil Service Pension" {% if data['pensions'] and "Civil Service Pension" in data['pensions'] %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions">
                Civil Service Pension
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions-1" name="pensions" type="checkbox"
                value="NHS Pension for NHS staff in England and Wales" {% if data['pensions'] and "NHS Pension for NHS staff in England and Wales" in data['pensions'] %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions-1">
                NHS Pension for NHS staff in England and Wales
              </label>
            </div>
            <!-- <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions-3" name="pensions" type="checkbox"
                value="Pension Protection Fund or Financial Assistance Scheme" {% if data['pensions'] and "Pension Protection Fund or Financial Assistance Scheme" in data['pensions'] %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions-3">
                Pension Protection Fund or Financial Assistance Scheme
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions-4" name="pensions" type="checkbox"
                value="Scottish Public Pensions Agency (SPPA) for teachers or NHS workers" {%
                if data['pensions'] and "Scottish Public Pensions Agency (SPPA) for teachers or NHS workers" in data['pensions'] %}checked{%
                endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions-4">
                Scottish Public Pensions Agency (SPPA) for teachers or NHS workers
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions-5" name="pensions" type="checkbox"
                value="South Yorkshire Pension Fund" {% if data['pensions'] and "South Yorkshire Pension Fund" in data['pensions']
                %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions-5">
                South Yorkshire Pension Fund
              </label>
            </div> -->
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pensions-6" name="pensions" type="checkbox"
                value="I do not want to notify any public sector pension providers" data-behaviour="exclusive" {%
                if data['pensions'] and "I do not want to notify any public sector pension providers" in data['pensions'] %}checked{% endif
                %}>
              <label class="govuk-label govuk-checkboxes__label" for="pensions-6">
                I do not want to notify any public sector pension providers
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    <p class="govuk-body"><a href="ni-number" class="govuk-link">Enter a different National Insurance number</a></p>

  </div>
</div>

{% endblock %}