{% extends "layouts/main.html" %}
{% set pageName="Their National Insurance number" %}
{% set backLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Their National Insurance number
    </h1>
    <p class="govuk-body">If you know the National Insurance number of the person who died:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>it can help some of the organisations and departments that you choose to notify, such as DWP and HMRC, to find their records quicker</li>
      <li>we will use it to find public sector pensions they had</li>
    </ul>
    <p class="govuk-body">The National Insurance number is on their National Insurance card, payslip or P60. If they got state pension or benefits, it may be on a benefit statement or bank statement.</p>
     <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Which public sector pensions we will check
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">A public sector pension is a workplace pension for public sector employees. For example, civil servants, NHS and local government workers.</p>
        <p class="govuk-body">It's different to the State Pension, which is a regular payment from the government based on someone's National Insurance record.</p>
        <h2 class="govuk-heading-s">Public sector pensions we check</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Civil Service Pension Scheme</li>
          <li>NHS Pensions for NHS staff in England and Wales</li>
          <li>Scottish Public Pension Agency schemes for NHS staff, teachers, police and firefighters in Scotland</li>
          <li>Pension Protection Fund and Financial Assistance Scheme</li>
          <li>Local Government Pension Schemes (LGPS)</li>
        </ul>
        <p class="govuk-body">If the person who died had a public sector from a different provider, contact the pension provider directly to notify them of the death.</p>

        <h2 class="govuk-heading-s">If the person who died had a State Pension</h2>
        <p class="govuk-body">The State Pension is not a public sector pension. It’s a regular payment from the Department of Work and Pensions (DWP) based on the person's National Insurance record.</p>
        <p class="govuk-body">You can notify DWP later in Tell Us Once. </p>
      </div>
    </details>
    <form class="form" action="/{{data.version}}/local-council-services" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you know the National Insurance number of the person who's died?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-ni-number" name="has-ni-number" type="radio" value="yes"
                data-aria-controls="conditional-ni-number" {% if
                data['has-ni-number']=='yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="has-ni-number">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ni-number">
              <div class="govuk-form-group">
                <label class="govuk-label" for="ni-number">
                  Their National Insurance number
                </label>
                <div class="govuk-hint" id="ni-number-hint">For example, 'QQ 12 34 56 C'.</div>
                <input class="govuk-input govuk-!-width-one-third" id="ni-number" name="ni-number" type="text"
                  spellcheck="false" autocomplete="off" value="{{ data['ni-number'] }}" aria-describedby="ni-number" inputmode="text">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has-ni-number-2" name="has-ni-number" type="radio" value="no" {% if
                data['has-ni-number']=='no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="has-ni-number-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}

{% endblock %}