{% extends "layouts/main.html" %}
{% set pageName="What we'll ask about you" %}
{% set backLink = true %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{pageName}}</h1>

    <p class="govuk-body">We'll ask for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name and contact details </li>
      <li>your relationship to the person who died</li>
      <li>whether you're dealing with the estate of the person who died</li>
      <li>whether you're their next of kin</li>
    </ul>

    <p class="govuk-body">If you are their next of kin, we’ll also ask for your date of birth or National Insurance number.</p>
    
    <!---------Button-------->

    {{ govukButton({
    text: "Continue",
    href: 'about-you'
    }) }}

    <!---------If any of these details are wrong-------->

  </div>
</div>


{% include "includes/contact.njk" %}

{% endblock %}