{% extends "layouts/main.html" %}
{% set pageName="Notify organisations and services about the death" %}
{% set backLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>
    <p class="govuk-body">We will tell the organisations and services you select to update their records.</p>
    <div class="govuk-inset-text">You can save and print a list of who you’ve notified when you’ve finished Tell Us Once.</div>
    <h2 class="govuk-heading-s">When you notify a benefit provider</h2>
    <p class="govuk-body">When you notify a benefit provider (for example, DWP, HMRC or local council) about the death, payments to the person who died will stop.</p>
    <p class="govuk-body">If the person who died was claiming benefits with, or that were linked to, someone else (for example as their partner, parent or carer) the surviving person must notify their benefit provider directly. They must do this even if you've used Tell Us Once.</p>
    <p class="govuk-body">This is because the claim may need to change, or they may need to make a new claim to continue getting support.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Who do you want to notify?</h2>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">Tax, benefits, entitlements including State Pension</h3>

    <form class="form" action="/{{data.version}}/ni-number" method="post">

      <!---------DWP-------->

      <div class="govuk-form-group govuk-!-margin-bottom-4">
        <fieldset class="govuk-fieldset" aria-describedby="dwp-hint">
          <label class="govuk-label">Department of Work and Pensions (DWP) benefits and entitlements</label>
          <div id="dwp-hint" class="govuk-hint">
            If they received State Pension or other DWP benefits such as Attendance Allowance.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dwp" name="dwp" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="dwp">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dwp-2" name="dwp" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="dwp-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Details-------->

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a DWP benefit or entitlement?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">If you're not sure if they receive a DWP benefit, select yes. DWP can then check and update their records.</p>
          <h3 class="govuk-heading-s">The most common DWP benefits and entitlements include:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Attendance Allowance (AA)</li>
            <li>Disability Living Allowance (DLA)</li>
            <li>Emplyoment and Support Allowance (ESA)</li>
            <li>Income Support</li>
            <li>Jobseeker's Allowance</li>
            <li>Pension Credit</li>
            <li>Personal Independence Payment (PIP)</li>
            <li>State Pension</li>
            <li>Universal Credit</li>
            <li>Winter Fuel Payment</li>
          </ul>
          <h3 class="govuk-heading-s">Other DWP benefits and entitlements include:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Bereavement Support Payment (BSP)</li>
            <li>Incapacity Benefit</li>
            <li>Industrial Injuries Disablement Benefit</li>
            <li>Maternity Allowance</li>
            <li>Widowed Parent's Allowance (WPA)</li>
          </ul>
        </div>
      </details>

      <!---------HMRC Personal Tax-------->

      <div class="govuk-form-group govuk-!-padding-top-2">
        <fieldset class="govuk-fieldset" aria-describedby="hmrc-personal-tax-hint">
          <label class="govuk-label">HMRC Personal Tax</label>
          <div id="hmrc-personal-tax-hint" class="govuk-hint">
            For personal and individual tax records such as Pensions, Pay As You Earn (PAYE), Self Assessment or Self Employment.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmrc-personal-tax" name="hmrc-personal-tax" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="hmrc-personal-tax">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmrc-personal-tax-2" name="hmrc-personal-tax" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="hmrc-personal-tax-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------HMRC benefits and credits-------->

      <div class="govuk-form-group govuk-!-margin-bottom-2">
        <fieldset class="govuk-fieldset" aria-describedby="hmrc-benefits-and-credits-hint">
          <label class="govuk-label">HMRC Benefits and Credits</label>
          <div id="hmrc-benefits-and-credits-hint" class="govuk-hint">
            If they received any HMRC benefits and/or credits when they died.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmrc-benefits-and-credits" name="hmrc-benefits-and-credits" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="hmrc-benefits-and-credits">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hmrc-benefits-and-credits-2" name="hmrc-benefits-and-credits" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="hmrc-benefits-and-credits-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details govuk-!-padding-top-2">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is an HMRC benefit or credit?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Child Benefit</li>
            <li>Child Tax Credit</li>
            <li>Working Tax Credit</li>
            <li>Tax-Free Childcare</li>
            <li>Help to Save</li>
          </ul>
        </div>
      </details>

      <!---------Local Council-------->

      <h2 class="govuk-heading-s govuk-!-padding-top-2">Local Council</h2>

      <!---------Council Tax-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="council-tax-hint">
          <label class="govuk-label">Council Tax</label>
          <div class="govuk-radios" data-module="govuk-radios" id="council-tax-hint">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="council-tax" name="council-tax" type="radio" value="yes" data-aria-controls="conditional-council-tax">
              <label class="govuk-label govuk-radios__label" for="council-tax">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-council-tax">
              <div class="govuk-form-group">
                <label class="govuk-label" for="council-tax-over-18">
                  How many people over age of 18 now reside in the property?
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="council-tax-over-18" name="council-tax-over-18" type="text" spellcheck="false" autocomplete="none">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="council-tax-2" name="council-tax" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="council-tax-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Housing Benefit-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="housing-benefit-hint">
          <label class="govuk-label" id="housing-benefit-hint">Housing Benefit</label>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="housing-benefit" name="housing-benefit" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="housing-benefit">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="housing-benefit-2" name="housing-benefit" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="housing-benefit-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Library Services-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="library-services-hint">
          <label class="govuk-label" id="library-services-hint">Library Services</label>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="library-services" name="library-services" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="library-services">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="library-services-2" name="library-services" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="library-services-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Electoral Services-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="electoral-services-hint">
          <label class="govuk-label">Electoral Services</label>
          <div id="electoral-services-hint" class="govuk-hint">
            If they were registered to vote.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="electoral-services" name="electoral-services" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="electoral-services">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="electoral-services-2" name="electoral-services" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="electoral-services-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Adult Social Services-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="adult-social-services-hint">
          <label class="govuk-label">Adult Social Services</label>
          <div id="adult-social-services-hint" class="govuk-hint">
            For example, any financial assistance provided to support someone remaining in their own home or in public or private care home, meals on wheels, help at home and special equipment for home adaptations.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="adult-social-services" name="adult-social-services" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="adult-social-services">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="adult-social-services-2" name="adult-social-services" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="adult-social-services-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Sundry Debts-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sundry-debts-hint">
          <label class="govuk-label">Sundry debts / Miscellaneous Income</label>
          <div id="sundry-debts-hint" class="govuk-hint">
            For example, any money owed from things like hiring facilities, planning fees or Housing Benefit overpayments.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sundry-debts" name="sundry-debts" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="sundry-debts">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sundry-debts-2" name="sundry-debts" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="sundry-debts-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Blue Badge-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="blue-badge-hint">
          <label class="govuk-label">Blue Badge</label>
          <div id="blue-badge-hint" class="govuk-hint">
            To cancel a Blue Badge. Contact the council to ask what to do with the badge.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="blue-badge" name="blue-badge" type="radio" value="yes" data-aria-controls="conditional-blue-badge">
              <label class="govuk-label govuk-radios__label" for="blue-badge">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-blue-badge">
              <div class="govuk-form-group">
                <label class="govuk-label" for="blue-badge-number" aria-describedby="blue-badge-number-hint">
                  Blue Badge reference number (optional)
                </label>
                <div id="blue-badge-number-hint" class="govuk-hint">For example, 232C48.</div>
                <input class="govuk-input govuk-input--width-10" id="blue-badge-number" name="blue-badge-number" type="text" spellcheck="false" autocomplete="none">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="blue-badge-2" name="blue-badge" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="blue-badge-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Concessionary Travel-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="concessionary-travel-hint">
          <label class="govuk-label">Concessionary Travel</label>
          <div id="concessionary-travel-hint" class="govuk-hint">
            For discounted or free travel. For example, a bus or rail pass.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="concessionary-travel" name="concessionary-travel" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="concessionary-travel">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="concessionary-travel-2" name="concessionary-travel" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="concessionary-travel-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Passport and driving-------->

      <h2 class="govuk-heading-s">Passport and driving</h2>

      <!---------Passport-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="passport-hint">
          <label class="govuk-label">Passport</label>
          <div id="passport-hint" class="govuk-hint">
            Cancel a current or expired passport.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport" name="passport" type="radio" data-aria-controls="conditional-passport" value="yes">
              <label class="govuk-label govuk-radios__label" for="passport">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-passport">
              <div class="govuk-form-group">
                <label class="govuk-label" for="town-of-birth">
                  Place of birth as it appears on their passport
                </label>
                <input class="govuk-input govuk-input--width-10" id="town-of-birth" name="town-of-birth" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="passport-number">
                  Passport number of the person who died
                </label>
                <div class="govuk-hint">For example, 1208297A.</div>
                <input class="govuk-input govuk-input--width-10" id="passport-number" name="passport-number" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="passport-number-2">
                  Second passport number (optional)
                </label>
                <div class="govuk-hint">If the person who died had a second passport.</div>
                <input class="govuk-input govuk-input--width-10" id="passport-number-2" name="passport-number-2" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-inset-text">You do not need to return their passport. Instead, cut off the top right hand corner of the passport so it cannot be used.</div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="passport-2" name="passport" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="passport-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <!---------Driving licence-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="driving-licence-hint">
          <label class="govuk-label">Driving licence</label>
          <div id="driving-licence-hint" class="govuk-hint">
            Cancel a current or expired driving licence.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="driving-licence" name="driving-licence" type="radio" data-aria-controls="conditional-driving-licence" value="yes">
              <label class="govuk-label govuk-radios__label" for="driving-licence">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-driving-licence">
              <div class="govuk-form-group">
                <label class="govuk-label" for="driving-licence-number" aria-describedby="driving-licence-number-hint">
                  Driving licence number of the person who died
                </label>
                <div id="driving-licence-number-hint" class="govuk-hint">
                  For example, MORGA753116SM9IJ.
                </div>
                <input class="govuk-input govuk-input--width-10" id="driving-licence-number" name="driving-licence-number" type="text" spellcheck="false" autocomplete="none">
                <div class="govuk-inset-text">You do not need to return their driving licence. Instead, cut off the top right hand corner of the driving licence so it cannot be used.</div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="driving-licence-2" name="driving-licence" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="driving-licence-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Registered keeper of a motor vehicle-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="registered-keeper-hint">
          <label class="govuk-label">Registered keeper of a motor vehicle</label>
          <div id="registered-keeper-hint" class="govuk-hint">
            When DVLA is notified of the death, the vehicle tax will no longer be valid. If the vehicle is going to be driven, or is parked on a public road, it will need to be re-taxed. If there are more than five vehicles you will need to contact DVLA directly.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registered-keeper" name="registered-keeper" type="radio" data-aria-controls="conditional-registered-keeper" value="yes">
              <label class="govuk-label govuk-radios__label" for="registered-keeper">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-registered-keeper">
              <div class="govuk-form-group">
                <label class="govuk-label" for="vehicle-registration-number-1">
                  Vehicle registration number 1
                </label>
                <div class="govuk-hint">For example, CU57ABC.</div>
                <input class="govuk-input govuk-input--width-10" id="vehicle-registration-number-1" name="vehicle-registration-number-1" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="vehicle-registration-number-2">
                  Vehicle registration number 2 (optional)
                </label>
                <input class="govuk-input govuk-input--width-10" id="vehicle-registration-number-2" name="vehicle-registration-number-2" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="vehicle-registration-number-3">
                  Vehicle registration number 3 (optional)
                </label>
                <input class="govuk-input govuk-input--width-10" id="vehicle-registration-number-3" name="vehicle-registration-number-3" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="vehicle-registration-number-4">
                  Vehicle registration number 4 (optional)
                </label>
                <input class="govuk-input govuk-input--width-10" id="vehicle-registration-number-4" name="vehicle-registration-number-4" type="text" spellcheck="false" autocomplete="none">
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="vehicle-registration-number-5">
                  Vehicle registration number 5 (optional)
                </label>
                <input class="govuk-input govuk-input--width-10" id="vehicle-registration-number-5" name="vehicle-registration-number-5" type="text" spellcheck="false" autocomplete="none">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registered-keeper-2" name="registered-keeper" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="registered-keeper-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <!---------Armed Forces Pensions and Compensation Schemes-------->

      <h2 class="govuk-heading-s">Armed Forces Pensions and Compensation Schemes</h2>

      <!---------Armed Forces Pension Schemes-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="armed-forces-pension-scheme-hint">
          <label class="govuk-label">Armed Forces Pension Schemes</label>
          <div id="armed-forces-pension-scheme-hint" class="govuk-hint">
            If they had an Armed Forces Pension Scheme (AFPS 75, AFPS 05, AFPS 15) or a Reserve Forces Pension Scheme in payment when they died.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="armed-forces-pension-scheme" name="armed-forces-pension-scheme" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="armed-forces-pension-scheme">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="armed-forces-pension-scheme-2" name="armed-forces-pension-scheme" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="armed-forces-pension-scheme-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------War Pensions Scheme-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="war-pensions-scheme-hint">
          <label class="govuk-label">War Pensions Scheme</label>
          <div id="war-pensions-scheme-hint" class="govuk-hint">
            If they had a War Pension Scheme award in payment when they died. Payable for injury or illness occuring before 6th April 2025.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="war-pensions-scheme" name="war-pensions-scheme" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="war-pensions-scheme">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="war-pensions-scheme-2" name="war-pensions-scheme" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="war-pensions-scheme-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------Armed Forces Compensation Scheme-------->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="armed-forces-compensation-scheme-hint">
          <label class="govuk-label">Armed Forces Compensation Scheme</label>
          <div id="armed-forces-compensation-scheme-hint" class="govuk-hint">
            If they had an Armed Forces Compensation Scheme award in payment when they died. Payable for injury or illness occuring on or after 6th April 2025.
          </div>
          <div class="govuk-radios " data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="armed-forces-compensation-scheme" name="armed-forces-compensation-scheme" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="armed-forces-compensation-scheme">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="armed-forces-compensation-scheme-2" name="armed-forces-compensation-scheme" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="armed-forces-compensation-scheme-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!---------button-------->

      <button class="govuk-button">Continue</button>

    </form>

  </div>
</div>

<!-- Contact us -->
{% include "includes/contact.njk" %}


{% endblock %}