{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell Us Once
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-width-container ">

  <div class="holder dontPrint">


  </div>


  <div id="Content">
    <div class="holder">

      <h1 class="govuk-heading-l"> Welcome to the Tell Us Once Service</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                What’s new
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">On Friday 10 July 2026 we made some changes to Tell Us Once.<a class="govuk-link--no-visited-state" href=""> Find out what's changed in ‘Glasscube’, an online communication platform (opens in new tab)</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="govuk-heading-m">
        For Information
      </h2>

      <div id="guidance" class="">

        <p class="govuk-body">If you need to contact the Tell Us Once Servicedesk our email address is:
        </p>
        <a class="govuk-body" href="mailto:tell-us-once.servicedesk@dwp.gov.uk" id="contactemail">tell-us-once.servicedesk@dwp.gov.uk</a>
        <div class="govuk-inset-text">
          Please do not give this email address to citizens
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <section>
            <h2 class="govuk-heading-m">Events</h2>
            <ul class="govuk-list">

              <li><a href="/Death/Capture/Registration" class="govuk-link govuk-link--no-visited-state">Capture</a></li>

              <li><a href="/Death/CaptureFer/Recover" class="govuk-link govuk-link--no-visited-state">Capture (FER)</a></li>

              <li><a href="/Death/Enrich" class="govuk-link govuk-link--no-visited-state">Enrich</a></li>

            </ul>

          </section>
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <section>
            <h2 class="govuk-heading-m">Admin</h2>
            <ul class="govuk-list">

              <li><a href="/Admin/MIReports" class="govuk-link govuk-link--no-visited-state">MI Reports</a> </li>


              <li><a href="/Admin/Reports" class="govuk-link govuk-link--no-visited-state">Reports</a> </li>


              <li><a href="/Admin/RequestForInformation/SelectRFIType" class="govuk-link govuk-link--no-visited-state">RFIs</a></li>


              <li><a href="/Admin/SearchForACase/DeathRecover" class="govuk-link govuk-link--no-visited-state">Search For A Case</a></li>

              <li><a href="/Admin/SearchForAnEvent/DeathRecover" class="govuk-link govuk-link--no-visited-state">Search For An Event</a></li>

              <li><a href="/Admin/MonitorStatus/DeathRecover" class="govuk-link govuk-link--no-visited-state">Monitor Status</a></li>

              <li><a href="/Admin/ServiceProvision/DeathRecover" class="govuk-link govuk-link--no-visited-state">Service Provision</a></li>

            </ul>
          </section>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <section>
            <h2 class="govuk-heading-m">ASM</h2>
            <ul class="govuk-list">

              <li><a href="/Asm/ChangesetManagement" class="govuk-link govuk-link--no-visited-state">Changeset Management</a></li>

              <li><a href="/Asm/Organisation/Details" class="govuk-link govuk-link--no-visited-state">Add Organisation</a></li>
              <li><a href="/Asm/Organisation/Recover" class="govuk-link govuk-link--no-visited-state">Edit Organisation</a></li>

              <li><a href="/Asm/Service/Details" class="govuk-link govuk-link--no-visited-state">Add Service</a></li>
              <li><a href="/Asm/Service/Edit" class="govuk-link govuk-link--no-visited-state">Edit Service</a></li>
              <li><a href="/Asm/Service/EditOrder" class="govuk-link govuk-link--no-visited-state">Edit Service Order</a></li>

              <li><a href="/Asm/UploadLetterTemplate" class="govuk-link govuk-link--no-visited-state">Template Management</a> </li>

            </ul>
          </section>
        </div>
      </div>

    </div>
    <div style="margin-bottom:50px"></div>
  </div>

  <div class="dontPrint">
    <fieldset class="helpFieldSet govuk-fieldset">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" tabindex="0"><span class="govuk-details__summary-text">Contact us for help</span></summary>
        <div class="govuk-details__text">
          <p class="govuk-body"><strong></strong></p>
          <p class="govuk-body"><b>Telephone</b></p>
          <p class="govuk-body">03000 460 987</p>
          <p class="govuk-body">Monday to Friday 8:00am to 6:00pm.</p>
          <p class="govuk-body"><strong>Email</strong></p>
          <p class="govuk-body">Email us at <a href="mailto:tell-us-once.servicedesk@dwp.gov.uk">tell-us-once.servicedesk@dwp.gov.uk</a></p>
        </div>
      </details>
    </fieldset>
  </div>
  <div class="custom-footer-content dontPrint">

  </div>
  </main>
</div>

{% endblock %}