{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="death-registration-details-shared-with-tell-us-once" method="post" novalidate>
          <span class="govuk-caption-l">Capture death registration details</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <div class="govuk-inset-text govuk-!-margin-bottom-6">Check with the person who’s reporting the death that the answers relating to the person who died are accurate.</div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Personal details of the person who's died
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="details-about-the-person-whos-died">Change<span class="govuk-visually-hidden"> details of the person who's died</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['deceased-firstname']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Surname
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['deceased-surname']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-of-birth-day']}} {{data['date-of-birth-month'] | monthName}} {{data['date-of-birth-year']}}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Address of the person who's died
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="enter-the-address-of-the-person-whos-died">Change<span class="govuk-visually-hidden"> the address of the person who's
                  died</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <!-- <dt class="govuk-summary-list__key">
                Address
              </dt> -->
              <dd class="govuk-summary-list__value">
                {{data['deceased-address-line-1']}}<br>
                {{data['deceased-address-line-2']}}<br>
                {{data['deceased-address-town']}}<br>
                {{data['deceased-postcode']}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            System or document used to register the death
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="registration-source">Change<span class="govuk-visually-hidden"> system or document was used to record the details of the death </span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                How was the death registered?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['reference-source']}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Death registration details
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> death registration
                  details</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Enter date of death
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-of-death'] | titlecase}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                RON registration number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['registration-number']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Search for the district the death was registered in
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['registration-district']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Death registration date
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['death-registered-today'] == 'yes' %}
                {{ today | date }}
                {% else %}
                {{ data['registration-date'] | titlecase }}
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
      </div>

<div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Who will complete Tell Us Once
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="select-who-will-complete-tell-us-once">Change<span class="govuk-visually-hidden"> who will complete Tell Us Once</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Select who will complete Tell Us Once
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['who-will-complete-tuo'] | capitalize}}
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Email confirmation
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="does-the-person-reporting-the-death-want-an-email-confirming-their-tell-us-once-reference-number">Change<span class="govuk-visually-hidden"> email confirmation</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Does the person reporting the death want an email confirming their Tell Us Once reference number?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-by-email'] | capitalize}}
              </dd>
            </div>
            {% if data['contact-by-email'] == 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Enter the email address they want the email confirmation to go to
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['email-address']}}
              </dd>
            </div>
            {% endif %}
          </dl>
        </div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept and send
      </button>
    </form>
  </div>
</div>
{% endblock %}