{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="death-registration-details-shared-with-tell-us-once" method="post" novalidate>
          <span class="govuk-caption-l">Capture death registration details</span>
      <h1 class="govuk-heading-xl">Check your answers</h1>
      <div class="govuk-inset-text govuk-!-margin-bottom-6">Check with the person reporting the death that these answers are accurate.</div>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['deceased-firstname']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details-about-the-person-whos-died">Change<span class="govuk-visually-hidden"> first name</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Surname
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['deceased-surname']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details-about-the-person-whos-died">Change<span class="govuk-visually-hidden"> surname</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-of-birth-day']}} {{data['date-of-birth-month'] | monthName}} {{data['date-of-birth-year']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="details-about-the-person-whos-died">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
            </div>
  
   
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['deceased-address-line-1']}}<br>
                {{data['deceased-address-line-2']}}<br>
                {{data['deceased-address-town']}}<br>
                {{data['deceased-postcode']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="enter-the-address-of-the-person-whos-died">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
            </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                How was the death registered?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['reference-source']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> how was the death registered</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of death
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['date-of-death'] | titlecase}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> date of death</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Death registration number
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['registration-number']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> death registration number</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                The district the death was registered in
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['registration-district']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> registration district</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date the death was registered
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['death-registered-today'] == 'yes' %}
                {{ today | date }}
                {% else %}
                {{ data['registration-date'] | titlecase }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="death-registration-details">Change<span class="govuk-visually-hidden"> date registration date</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Who will complete Tell Us Once
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['who-will-complete-tuo'] | capitalize}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="select-who-will-complete-tell-us-once">Change<span class="govuk-visually-hidden"> who will complete Tell Us Once</span></a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Do they want an email confirmation?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['contact-by-email'] | capitalize}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="does-the-person-reporting-the-death-want-an-email-confirming-their-tell-us-once-reference-number">Change<span class="govuk-visually-hidden"> do they want an email confirmation</span></a>
            </dd>
            </div>
            {% if data['contact-by-email'] == 'yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{data['email-address']}}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="does-the-person-reporting-the-death-want-an-email-confirming-their-tell-us-once-reference-number">Change<span class="govuk-visually-hidden"> email address</span></a>
            </dd>
            </div>
            {% endif %}
          </dl>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept and send
      </button>
    </form>
  </div>
</div>
{% endblock %}