{% extends "layouts/main.html" %}

{% block pageTitle %}
Confirm address
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <form class="form" action="registration-source" method="post">

    <div class="govuk-form-group">
          <span class="govuk-caption-l">Capture death registration details</span>
      <h1 class="govuk-heading-l">Confirm address</h1>

      <div class="govuk-inset-text">
        {{data['deceased-address-line-1']}}<br>
        {{data['deceased-address-line-2']}}<br>
        {{data['deceased-address-town']}}<br>
        {% if data['deceased-address-county'] %}
        {{data['deceased-address-county']}}<br>
        {% endif %}
        {{data['deceased-postcode']}}
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Use this address
      </button>

      <ul class="govuk-list">
        <li><a href="enter-the-address-of-the-person-whos-died" class="govuk-link">Search for a different address</a></li>
        <li class="govuk-!-margin-top-2"><a href="enter-the-address-of-the-person-whos-died" class="govuk-link">Select a different address</a></li>
        <li class="govuk-!-margin-top-2"><a href="enter-an-address?editAddress=true" class="govuk-link">Edit or manually enter address</a></li>
          </ul>


    </div>

    </form>

  </div>
</div>
{% endblock %}