{% extends "layouts/main.html" %}

{% block pageTitle %}
About the death registration
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="select-who-will-complete-tell-us-once" method="post" novalidate>
          <span class="govuk-caption-l">Capture death registration details</span>
      <h1 class="govuk-heading-l">
        About the death registration
      </h1>

      <!-- Date of death -->

      <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-death-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date of death
          </legend>

          <div id="date-of-death-hint" class="govuk-hint">
            This is the date that's on the death certificate. For example, 14 4 2026.
          </div>

          <div class="govuk-date-input" id="date-of-death">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-death-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="date-of-death-day"
                  name="date-of-death-day"
                  type="text"
                  inputmode="numeric"
                  value="{{data['date-of-death-day']}}">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-death-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                  id="date-of-death-month"
                  name="date-of-death-month"
                  type="text"
                  inputmode="numeric"
                  value="{{data['date-of-death-month']}}">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-death-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                  id="date-of-death-year"
                  name="date-of-death-year"
                  type="text"
                  inputmode="numeric"
                  value="{{data['date-of-death-year']}}">
              </div>
            </div>

          </div>
        </fieldset>

      <!-- Registration number -->

      <div class="govuk-form-group govuk-!-margin-top-4">
        <label class="govuk-label govuk-label--m" for="registration-number">
          Death registration number {% if (data['reference-source'] != 'RON (registration online)') and (data['reference-source'] != 'FER (Forward Electronic Registration) manual') %}, if there is one (optional){% endif %}
        </label>
        <div id="registration-number-hint" class="govuk-hint">
          {% if data['reference-source'] == 'RON (registration online)' %}For example, '512345678'.{% endif %} 
          {% if data['reference-source'] == 'FER (Forward Electronic Registration) manual' %}For example, '2026 765 955'.{% endif %}
        </div>
        <input
          class="govuk-input govuk-input--width-10"
          id="registration-number"
          name="registration-number"
          type="text"
          aria-describedby="registration-number-hint"
          value="{{data['registration-number']}}">
      </div>

      <!-- Registration district -->

      <div class="govuk-form-group govuk-!-margin-top-4">
        <label class="govuk-label govuk-label--m" for="autocomplete">
          The district the death was registered in 
        </label>
        <div id="registration-district-hint" class="govuk-hint">
          Start typing the name of the registration district.
        </div>

        <div id="autocomplete-container"></div>

        <select
          class="govuk-select govuk-visually-hidden"
          id="autocomplete"
          name="registration-district"
          aria-describedby="registration-district-hint"
          value="{{data['registration-district']}}">
          {% include "includes/registration-authorities.html" %}
        </select>
      </div>

      <!-- Registration date (conditional reveal) -->

      <div class="govuk-form-group govuk-!-margin-top-4">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date the death was registered
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="death-registered-today-yes"
                name="death-registered-today"
                type="radio"
                value="yes"
                {% if data['death-registered-today'] == 'yes' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-registered-today-yes">
                Today, {{ today | date }}
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="death-registered-today-no"
                name="death-registered-today"
                type="radio"
                value="no"
                data-aria-controls="conditional-registration-date"
                {% if data['death-registered-today'] == 'no' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="death-registered-today-no">
                A date in the past
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-registration-date">

              <fieldset class="govuk-fieldset" role="group" aria-describedby="registration-date-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Enter the date that the death was registered
                </legend>

                <div id="registration-date-hint" class="govuk-hint">
                  For example, 14 4 2026.
                </div>

                <div class="govuk-date-input" id="registration-date">

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="registration-date-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                        id="registration-date-day"
                        name="registration-date-day"
                        type="text"
                        inputmode="numeric">
                    </div>
                  </div>

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="registration-date-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                        id="registration-date-month"
                        name="registration-date-month"
                        type="text"
                        inputmode="numeric">
                    </div>
                  </div>

                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="registration-date-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                        id="registration-date-year"
                        name="registration-date-year"
                        type="text"
                        inputmode="numeric">
                    </div>
                  </div>

                </div>
              </fieldset>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                id="no-registration-date"
                name="death-registered-today"
                type="radio"
                value="There is no death registration date"
                data-aria-controls="no-registration-date"
                {% if data['death-registered-today'] == 'There is no death registration date' %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="no-registration-date">
                There is no death registration date
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <!-- Submit -->

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}