{% extends "layouts/main.html" %}

{% block pageTitle %}
Email confirmation
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-your-answers" method="post" novalidate>
          <span class="govuk-caption-l">Capture death registration details</span>
      <h1 class="govuk-heading-l">Email confirmation</h1>
      <p class="govuk-body">We can send the person reporting a death an email that tells them:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how to access Tell Us Once</li>
            <li>the reference number they need</li>
            <li>the details they’ll need before they start</li>
          </ul>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="email-address-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do they want an email confirmation?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-by-email" name="contact-by-email" type="radio" value="yes"
                data-aria-controls="conditional-email-address">
              <label class="govuk-label govuk-radios__label" for="contact-by-email">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-email-address">
              <div class="govuk-form-group">
                <label class="govuk-label" for="email-address">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="email-address" name="email-address" type="email"
                  spellcheck="false" autocomplete="email">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-by-email-2" name="contact-by-email" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="contact-by-email-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>


  </div>
</div>
{% endblock %}