{% extends "layouts/main.html" %}


{% block pageTitle %}
What's the address of the person who's died?
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Capture death registration details</span>
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Find the address of the person who died
          </h1>
        </legend>
          <p class="govuk-body">This is their usual address, for example, where they got most of their letters.</p>
          <p class="govuk-body">We’ll use this to suggest which council might have provided the most services to the person who died.</p>
          <p class="govuk-body">If they had another address, that address can be entered during Tell Us Once.</p>
<form class="form" action="select-an-address" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="deceased-postcode">
            Postcode
          </label>
          <div id="deceased-postcode-hint" class="govuk-hint">
            For example, AA3 1AB.
          </div>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="deceased-postcode"
                 name="deceased-postcode"
                 type="text"
                 aria-describedby="deceased-postcode-hint"
                 value="{{data['deceased-postcode']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="deceased-address-house-number">
            Building number or name
          </label>
          <div id="deceased-address-house-number-hint" class="govuk-hint">
            For example, 15 or Prospect Cottage.
          </div>
          <input class="govuk-input govuk-!-width-two-thirds"
                 id="deceased-address-house-number"
                 name="deceased-address-house-number"
                 type="text"
                 aria-describedby="deceased-address-house-number-hint"
                 value="{{data['deceased-address-house-number']}}">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Find address
        </button>
</form>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <ul class="govuk-list">
            <li class="govuk-!-margin-top-2"><a href="enter-an-address" class="govuk-link">Enter address manually</a></li>
          </ul>
          
        </p>
      </fieldset>
    </div>
</div>

{% endblock %}