{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter an address
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<form class="form" action="confirm-address" method="post">
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
    {% if data['edit-address'] == 'true' %}Edit or e{% else  %}E{% endif %}nter the address of the person who died
    </h1>
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="deceased-address-line-1">
      Address line 1
    </label>
    <input class="govuk-input" id="deceased-address-line-1" name="deceased-address-line-1" type="text" autocomplete="address-line1" value="{{data['deceased-address-line-1']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="deceased-address-line-2">
      Address line 2 (optional)
    </label>
    <input class="govuk-input" id="deceased-address-line-2" name="deceased-address-line-2" type="text" autocomplete="address-line2" value="{{data['deceased-address-line-2']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="deceased-address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-town" name="deceased-address-town" type="text" autocomplete="address-level2" value="{{data['deceased-address-town']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="deceased-address-county">
      County (optional)
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="deceased-address-county" name="deceased-address-county" type="text" value="{{data['deceased-address-county']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="deceased-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="deceased-postcode" name="deceased-postcode" type="text" autocomplete="postal-code" value="{{data['deceased-postcode']}}">
  </div>
</fieldset>
  </div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Use this address
  </button>
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="enter-the-address-of-the-person-whos-died" class="govuk-link">Search for address by postcode</a></p>

      </fieldset>
    </form>

  </div>
</div>
{% endblock %}