{% extends "layouts/print.html" %}

{% set pageName="Tell us once letter" %}

{% block content %}

<section class="print-document govuk-body">

  <div class="letter" role="region" aria-label="Letter">
    <div class="letter__inner">

      <div class="letter__header">
        <p class="govuk-heading-m">Tell Us Once</p>
      </div>

      <h3 class="govuk-heading-l">You can use Tell Us Once</h3>

      <p>You can use this service to tell government organisations and departments about the death.</p>

      <div class="letter__ref govuk-body govuk-!-text-align-centre">
        <p>Your Tell Us Once reference number is<br></p>
        <p class="letter__refNo">C6F5 EB 2325 D4</p>
      </div>

      <p>You must use this reference number before <strong>16 May 2026</strong>.</p>

      <h3 class="govuk-heading-m">How to use Tell Us Once</h3>

      <h4 class="govuk-heading-s">Online</h4>
      <p>Go to <strong>www.gov.uk/tell-us-once</strong></p>

      <h4 class="govuk-heading-s">Offline</h4>
      <p>Telephone: 0800 085 7308</p>

    </div>
  </div>

</section>

<script>
  window.onload = function () {
    window.print();
  };
</script>

{% endblock %}