{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell Us Once
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Tell Us Once</h1>
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          What’s new
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body">On 10 July 2026 we made some changes to Tell Us Once.<a class="govuk-link--no-visited-state" href=""> Find out what's changed in ‘Glasscube’, an online communication platform (opens in new tab)</a>.</p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="tuo-card-group">
      <a href="details-about-the-person-whos-died" class="tuo-card">
        <h2 class="govuk-heading-m">Capture death registration details</h2>
        <p class="govuk-body">Record death registration details in Tell Us Once.</p>
      </a>
      <!-- <div class="tuo-card">
            <h2 class="govuk-heading-m"><a href="" class="govuk-link--no-visited-state">Capture (FER)</a></h2>
            <p class="govuk-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div> -->
      <a href="" class="tuo-card">
        <h2 class="govuk-heading-m">Enrich using Tell Us Once</h2>
        <p class="govuk-body">Complete Tell Us Once with the person reporting the death.</p>
      </a>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Admin</h2>
    <ul class="govuk-list">
      <li><a href="" class="govuk-link--no-visited-state">MI reports</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Reports</a></li>
      <li><a href="" class="govuk-link--no-visited-state">RFIs</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Search for a case</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Search for an event</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Monitor status</a></li>
      <li><a href="" class="govuk-link--no-visited-state">Service provision</a></li>
    </ul>
  </div>
</div>
<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">ASM</h2>
        <ul class="govuk-list">
          <li><a href="">Changeset management</a></li>
          <li><a href="">Add organisation</a></li>
          <li><a href="">Edit organisation</a></li>
          <li><a href="">Add service</a></li>
          <li><a href="">Edit service</a></li>
          <li><a href="">Edit service order</a></li>
          <li><a href="">Template manager</a></li>
        </ul>
    </div>
</div> -->

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Contact Tell Us Once</h2>
          <p class="govuk-body">Email <a href="mailto: tell-us-once.servicedesk@dwp.gov.uk">tell-us-once.servicedesk@dwp.gov.uk</a></p>
          <div class="govuk-inset-text">
            Do not give this email address to citizens.
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}