{% extends "layouts/prototype.html" %}

{% block pageTitle %}
{{ serviceName }} prototype
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    Last updated: <strong>28 July 2026</strong>.
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <p class="govuk-body-l">Designs and design ideas for the Tell Us Once service.</p>

  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">What's included</h2>

    <p class="govuk-body">You can use this prototype to explore designs for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the public facing Tell Us Once journey (enrichment)</li>
      <li>specific pages for the agent facing Tell Us Once journey (enrichment)</li>
      <li>the service used by registrar to enter death registration details (capture)</li>
    </ul>

    <p class="govuk">The prototype includes full journeys with branching on some questions to show different scenarios. You can also see standalone pages without follwing an entire journey.</p>

    <h2 class="govuk-heading-l">How to use the prototype</h2>

    <p class="govuk-body">Interact with the prototype in the same way users do. Most pages don't require you to enter any information to continue to the next page. However, by answering questions you will get a more realistic reflection of how users will see it.</p>
    <p class="govuk-body">No information you enter when using the prototype will be saved. We recommend using made up information, especially if you are taking and sharing screenshots or sharing your sceen on a call.</p>

    <h2 class="govuk-heading-l">End to end journeys</h2>
    <div class="govuk-inset-text">These prototype journeys include new designs and may be different from the live service. They do not use production code.</div>

    <h3 class="govuk-heading-m">Enrichment</h3>
    <p class="govuk-body">The public facing Tell Us Once service.</p>
   
    <a href="/start?version=future"><button class="govuk-button">Start enrichment end to end journey</button></a>

    <a href="/start?version=future&startPage=step"><button class="govuk-button">Start enrichment end to end journey from GOV.UK step-by-step</button></a>

    <h3 class="govuk-heading-m">Capture</h3>
    <p class="govuk-body">The registrar facing service to enter registration details.</p>
    <a href="v0_1/capture/start"><button class="govuk-button">Start capture end to end journey</button></a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-l">Page index</h2>
    <p class="govuk-body">Jump to specific pages in Tell Us Once.</p>
    <p class="govuk-body"><a href="page-index">Go to page index</a></p>
    
  </div>

  <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Contact
        </h2>
        <p class="govuk-body-s"><span class="govuk-!-font-weight-bold">Ashley Wheat</span><br>Interaction designer <a href="mailto:ashley.wheat@engineering.digital.dwp.gov.uk">ashley.wheat@engineering.digital.dwp.gov.uk</a></p>
        <p class="govuk-body-s"><span class="govuk-!-font-weight-bold">Jo Schofield</span><br>Content designer <a href="mailto:jo.schofield2@engineering.digital.dwp.gov.uk">jo.schofield2@engineering.digital.dwp.gov.uk</a></p>
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Design mapping on Lucid <br>(opens in new tab)
              </a>
            </li>
            <li>
              <a href="#">
                Content records on Confluence <br>(opens in new tab)
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

</div>

{% endblock %}